<main id="content" class="neve-main" role="main">
  <div class="container single-post-container">
    <div class="row">
      <article id="post-2171" class="nv-single-post-wrap col post-2171 post type-post status-publish format-standard has-post-thumbnail hentry category-automation" style="max-width: 70% !important">
        <div class="entry-header">
          <div class="nv-title-meta-wrap">
            <small class="nv--yoast-breadcrumb neve-breadcrumbs-wrapper">
              <span>
                <span><a href="/">Home</a> &raquo; <span class="breadcrumb_last" aria-current="page"><%= @blog.title %></span></span>
              </span>
            </small>
            <h1 class="title entry-title"><%= @blog.title %></h1>
            <ul class="nv-meta-list">
              <li class="meta author vcard">
                <span class="author-name fn">by <a href="#-" title="Posts by admin" rel="author">admin</a></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="nv-thumb-wrap">
          <img
            width="750"
            height="400"
            src="<%= @blog.blog_image.url %>"
            class="skip-lazy wp-post-image"
            alt=""
            decoding="async"
            sizes="(max-width: 750px) 100vw, 750px"
          />
        </div>
        <div class="nv-content-wrap entry-content">
        	<%= raw @blog.content %>
        </div>
      </article>
      <div class="nv-sidebar-wrap col-sm-12 nv-right blog-sidebar" style="max-width: 30% !important">
        <aside id="secondary" role="complementary">
          <div id="search-2" class="widget widget_search">
            <form role="search" method="get" class="search-form" action="https://www.devlabsalliance.com/">
              <label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
              </label>
              <input type="submit" class="search-submit" value="Search" />
              <div class="nv-search-icon-wrap">
                <div class="nv-icon nv-search">
                  <svg width="15" height="15" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z"
                    />
                  </svg>
                </div>
              </div>
            </form>
          </div>
          <div id="block-9" class="widget widget_block"><h3>Recent Posts</h3></div>
          <div id="block-7" class="widget widget_block widget_recent_entries">
            <ul class="wp-block-latest-posts__list x_border_r wp-block-latest-posts">
              <li><a class="wp-block-latest-posts__post-title" href="../what-is-test-automation-framework/index.html">What Is Test Automation Framework?</a></li>
              <li><a class="wp-block-latest-posts__post-title" href="../what-is-unittest-in-python/index.html">What Is Unittest In Python?</a></li>
              <li><a class="wp-block-latest-posts__post-title" href="../cicd-and-its-best-practices/index.html">CICD And Its Best Practices</a></li>
              <li><a class="wp-block-latest-posts__post-title" href="../how-to-do-headless-browser-testing-in-selenium/index.html">How to do Headless Browser Testing in Selenium?</a></li>
              <li><a class="wp-block-latest-posts__post-title" href="../how-do-i-automate-in-selenium/index.html">How do I automate in Selenium?</a></li>
            </ul>
          </div>
          <div id="block-6" class="widget widget_block">
            <h3>Drop us a Query</h3>
            <div style="border: 1px solid #095b82; border-radius: 5px; padding: 7px; text-align: center;" id="mlink">
              <div role="form" class="wpcf7" id="wpcf7-f5681-o7" lang="en-US" dir="ltr">
                <div class="screen-reader-response">
                  <p role="status" aria-live="polite" aria-atomic="true"></p>
                  <ul></ul>
                </div>
                <form action="https://www.devlabsalliance.com/setup-selenium-with-c/#wpcf7-f5681-o7" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                  <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="5681" />
                    <input type="hidden" name="_wpcf7_version" value="5.6.4" />
                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5681-o7" />
                    <input type="hidden" name="_wpcf7_container_post" value="0" />
                    <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                    <input type="hidden" name="_wpcf7_recaptcha_response" value="" />
                  </div>

                  <!-- CF7 Modules -->
                  <div style="display: none;"><input type="hidden" name="leadsquared-mx_Form_Name" value="DLA - Blog Side Bar Form" class="wpcf7-form-control wpcf7-hidden" /></div>
                  <!-- End CF7 Modules -->

                  <div id="responsive-form" class="clearfix">
                    <div class="form-row">
                      <div class="column-full">
                        <span class="wpcf7-form-control-wrap" data-name="leadsquared-FirstName">
                          <input type="text" name="leadsquared-FirstName" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name*" />
                        </span>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="column-full">
                        <span class="wpcf7-form-control-wrap" data-name="leadsquared-Mobile">
                          <input type="text" name="leadsquared-Mobile" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Phone*" />
                        </span>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="column-full">
                        <span class="wpcf7-form-control-wrap" data-name="leadsquared-EmailAddress">
                          <input
                            type="email"
                            name="leadsquared-EmailAddress"
                            value=""
                            size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="Email*"
                          />
                        </span>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="column-full"><input type="submit" value="Submit" class="wpcf7-form-control has-spinner wpcf7-submit" /></div>
                    </div>
                  </div>
                  <input type="hidden" class="wpcf7-pum" value='{"closepopup":false,"closedelay":0,"openpopup":false,"openpopup_id":0}' />
                  <div class="wpcf7-response-output" aria-hidden="true"></div>
                </form>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</main>

<style id='neve-style-inline-css' type='text/css'>
.header-menu-sidebar-inner li.menu-item-nav-search { display: none; }
 .container{ max-width: 748px; } .has-neve-button-color-color{ color: var(--nv-secondary-accent)!important; } .has-neve-button-color-background-color{ background-color: var(--nv-secondary-accent)!important; } .single-post-container .alignfull > [class*="__inner-container"], .single-post-container .alignwide > [class*="__inner-container"]{ max-width:718px } .button.button-primary, button, input[type=button], .btn, input[type="submit"], /* Buttons in navigation */ ul[id^="nv-primary-navigation"] li.button.button-primary > a, .menu li.button.button-primary > a, .wp-block-button.is-style-primary .wp-block-button__link, .wc-block-grid .wp-block-button .wp-block-button__link, form input[type="submit"], form button[type="submit"], #comments input[type="submit"]{ background-color: var(--nv-secondary-accent);color: var(--nv-text-color);border-radius:0px 0px 0px 0px;border:none;border-width:1px 1px 1px 1px; font-size: 14px; } .button.button-primary:hover, ul[id^="nv-primary-navigation"] li.button.button-primary > a:hover, .menu li.button.button-primary > a:hover, .wp-block-button.is-style-primary .wp-block-button__link:hover, .wc-block-grid .wp-block-button .wp-block-button__link:hover, form input[type="submit"]:hover, form button[type="submit"]:hover, #comments input[type="submit"]:hover{ background-color: var(--nv-secondary-accent);color: var(--nv-text-color); } .button.button-secondary:not(.secondary-default), .wp-block-button.is-style-secondary .wp-block-button__link{ background-color: var(--nv-primary-accent);color: var(--nv-text-dark-bg);border-radius:0px 0px 0px 0px;border:none;border-width:2px 2px 2px 2px; font-size: 14px; } .button.button-secondary.secondary-default{ background-color: var(--nv-primary-accent);color: var(--nv-text-dark-bg);border-radius:0px 0px 0px 0px;border:none;border-width:2px 2px 2px 2px; } .button.button-secondary:not(.secondary-default):hover, .wp-block-button.is-style-secondary .wp-block-button__link:hover{ background-color: var(--nv-primary-accent);color: var(--nv-text-dark-bg); } .button.button-secondary.secondary-default:hover{ background-color: var(--nv-primary-accent);color: var(--nv-text-dark-bg); } .button.button-primary, .wp-block-button.is-style-primary .wp-block-button__link, .wc-block-grid .wp-block-button .wp-block-button__link, form input[type="submit"], form button[type="submit"], #comments input[type="submit"]{ padding:16px 35px 16px 35px; } .button.button-secondary:not(.secondary-default), .wp-block-button.is-style-secondary .wp-block-button__link{ padding:16px 35px 16px 35px; } body, .site-title{ font-size: 15px; line-height: 1.6; letter-spacing: 0px; font-weight: 400; text-transform: none; font-family: Poppins, var(--nv-fallback-ff); } h1, .single h1.entry-title{ font-size: 39px; line-height: 1.2em; letter-spacing: 0px; font-weight: 600; text-transform: none; font-family: Poppins, var(--nv-fallback-ff); } h2{ font-size: 30px; line-height: 1.3em; letter-spacing: 0px; font-weight: 600; text-transform: none; font-family: Poppins, var(--nv-fallback-ff); } h3, .woocommerce-checkout h3{ font-size: 20px; line-height: 1.3em; letter-spacing: 0px; font-weight: 600; text-transform: none; font-family: Poppins, var(--nv-fallback-ff); } h4{ font-size: 16px; line-height: 1.3em; letter-spacing: 0px; font-weight: 600; text-transform: none; font-family: Poppins, var(--nv-fallback-ff); } h5{ font-size: 14px; line-height: 1.3em; letter-spacing: 0px; font-weight: 600; text-transform: none; font-family: Poppins, var(--nv-fallback-ff); } h6{ font-size: 14px; line-height: 1.3em; letter-spacing: 0px; font-weight: 600; text-transform: none; font-family: Poppins, var(--nv-fallback-ff); } form:not([role="search"]):not(.woocommerce-cart-form):not(.woocommerce-ordering):not(.cart) input:read-write:not(#coupon_code), form textarea, form select, .widget select{ margin-bottom: 10px; } form input:read-write, form textarea, form select, form select option, form.wp-block-search input.wp-block-search__input, .widget select{ border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;color: var(--nv-text-color);padding-top:14px;padding-right:14px;padding-bottom:14px;padding-left:14px; font-family: Poppins, var(--nv-fallback-ff); } form label, .wpforms-container .wpforms-field-label{ margin-bottom: 10px; } form.search-form input:read-write{ padding-right:47px !important; font-family: Poppins, var(--nv-fallback-ff); } .header-top-inner,.header-top-inner a:not(.button),.header-top-inner .navbar-toggle{ color: var(--nv-text-color); } .header-top-inner .nv-icon svg,.header-top-inner .nv-contact-list svg{ fill: var(--nv-text-color); } .header-top-inner .icon-bar{ background-color: var(--nv-text-color); } .hfg_header .header-top-inner .nav-ul .sub-menu{ background-color: #f0f0f0; } .hfg_header .header-top-inner{ background-color: #f0f0f0; } .header-main-inner,.header-main-inner a:not(.button),.header-main-inner .navbar-toggle{ color: var(--nv-text-color); } .header-main-inner .nv-icon svg,.header-main-inner .nv-contact-list svg{ fill: var(--nv-text-color); } .header-main-inner .icon-bar{ background-color: var(--nv-text-color); } .hfg_header .header-main-inner .nav-ul .sub-menu{ background-color: var(--nv-site-bg); } .hfg_header .header-main-inner{ background-color: var(--nv-site-bg); } .header-menu-sidebar .header-menu-sidebar-bg,.header-menu-sidebar .header-menu-sidebar-bg a:not(.button),.header-menu-sidebar .header-menu-sidebar-bg .navbar-toggle{ color: var(--nv-text-color); } .header-menu-sidebar .header-menu-sidebar-bg .nv-icon svg,.header-menu-sidebar .header-menu-sidebar-bg .nv-contact-list svg{ fill: var(--nv-text-color); } .header-menu-sidebar .header-menu-sidebar-bg .icon-bar{ background-color: var(--nv-text-color); } .hfg_header .header-menu-sidebar .header-menu-sidebar-bg .nav-ul .sub-menu{ background-color: var(--nv-site-bg); } .hfg_header .header-menu-sidebar .header-menu-sidebar-bg{ background-color: var(--nv-site-bg); } .header-menu-sidebar{ width: 360px; } .builder-item--logo .site-logo img{ max-width: 196px; } .builder-item--logo .site-logo{ padding:10px 0px 10px 0px; } .builder-item--logo{ margin:0px 0px 0px 0px; } .builder-item--nav-icon .navbar-toggle, .header-menu-sidebar .close-sidebar-panel .navbar-toggle{ border-radius:3px;border:1px solid;border-width:1px; } .builder-item--nav-icon .navbar-toggle{ padding:10px 15px 10px 15px; } .builder-item--nav-icon{ margin:0px 0px 0px 0px; } .builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item) > a,.builder-item--primary-menu .nav-menu-primary > .nav-ul .has-caret > a,.builder-item--primary-menu .nav-menu-primary > .nav-ul .neve-mm-heading span,.builder-item--primary-menu .nav-menu-primary > .nav-ul .has-caret{ color: var(--nv-text-color); } .builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item) > a:after,.builder-item--primary-menu .nav-menu-primary > .nav-ul li > .has-caret > a:after{ background-color: var(--nv-secondary-accent); } .builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item):hover > a,.builder-item--primary-menu .nav-menu-primary > .nav-ul li:hover > .has-caret > a,.builder-item--primary-menu .nav-menu-primary > .nav-ul li:hover > .has-caret{ color: var(--nv-secondary-accent); } .builder-item--primary-menu .nav-menu-primary > .nav-ul li:hover > .has-caret svg{ fill: var(--nv-secondary-accent); } .builder-item--primary-menu .nav-menu-primary > .nav-ul li.current-menu-item > a,.builder-item--primary-menu .nav-menu-primary > .nav-ul li.current_page_item > a,.builder-item--primary-menu .nav-menu-primary > .nav-ul li.current_page_item > .has-caret > a{ color: var(--nv-text-color); } .builder-item--primary-menu .nav-menu-primary > .nav-ul li.current-menu-item > .has-caret svg{ fill: var(--nv-text-color); } .builder-item--primary-menu .nav-ul > li:not(:last-of-type){ margin-right:20px; } .builder-item--primary-menu .style-full-height .nav-ul li:not(.menu-item-nav-search):not(.menu-item-nav-cart):hover > a:after{ width: calc(100% + 20px); } .builder-item--primary-menu .nav-ul li a, .builder-item--primary-menu .neve-mm-heading span{ min-height: 25px; } .builder-item--primary-menu{ font-size: 1em; line-height: 1.6em; letter-spacing: 0px; font-weight: 600; text-transform: uppercase; padding:0px 0px 0px 0px;margin:0px 0px 0px 0px; } .builder-item--primary-menu svg{ width: 1em;height: 1em; } .builder-item--custom_html .nv-html-content{ font-size: 1em; line-height: 1.6em; letter-spacing: 0px; font-weight: 500; text-transform: none; } .builder-item--custom_html .nv-html-content svg{ width: 1em;height: 1em; } .builder-item--custom_html{ padding:0px 0px 0px 0px;margin:0px 0px 0px 0px; } .footer-top-inner{ background-color: #ededed; } .footer-top-inner,.footer-top-inner a:not(.button),.footer-top-inner .navbar-toggle{ color: var(--nv-text-color); } .footer-top-inner .nv-icon svg,.footer-top-inner .nv-contact-list svg{ fill: var(--nv-text-color); } .footer-top-inner .icon-bar{ background-color: var(--nv-text-color); } .footer-top-inner .nav-ul .sub-menu{ background-color: #ededed; } .footer-bottom-inner{ background-color: var(--nv-dark-bg); } .footer-bottom-inner,.footer-bottom-inner a:not(.button),.footer-bottom-inner .navbar-toggle{ color: var(--nv-text-dark-bg); } .footer-bottom-inner .nv-icon svg,.footer-bottom-inner .nv-contact-list svg{ fill: var(--nv-text-dark-bg); } .footer-bottom-inner .icon-bar{ background-color: var(--nv-text-dark-bg); } .footer-bottom-inner .nav-ul .sub-menu{ background-color: var(--nv-dark-bg); } .builder-item--footer-one-widgets{ padding:0px 0px 0px 0px;margin:0px 0px 0px 0px; } .builder-item--footer_copyright{ font-size: 1em; line-height: 1.6em; letter-spacing: 0px; font-weight: 500; text-transform: none; padding:0px 0px 0px 0px;margin:0px 0px 0px 0px; } .builder-item--footer_copyright svg{ width: 1em;height: 1em; } @media(min-width: 576px){ .container{ max-width: 992px; } .single-post-container .alignfull > [class*="__inner-container"], .single-post-container .alignwide > [class*="__inner-container"]{ max-width:962px } .button.button-primary, button, input[type=button], .btn, input[type="submit"], /* Buttons in navigation */ ul[id^="nv-primary-navigation"] li.button.button-primary > a, .menu li.button.button-primary > a, .wp-block-button.is-style-primary .wp-block-button__link, .wc-block-grid .wp-block-button .wp-block-button__link, form input[type="submit"], form button[type="submit"], #comments input[type="submit"]{ font-size: 14px; } .button.button-secondary:not(.secondary-default), .wp-block-button.is-style-secondary .wp-block-button__link{ font-size: 14px; } .button.button-primary, .wp-block-button.is-style-primary .wp-block-button__link, .wc-block-grid .wp-block-button .wp-block-button__link, form input[type="submit"], form button[type="submit"], #comments input[type="submit"]{ padding:16px 35px 16px 35px; } .button.button-secondary:not(.secondary-default), .wp-block-button.is-style-secondary .wp-block-button__link{ padding:16px 35px 16px 35px; } body, .site-title{ font-size: 16px; line-height: 1.6; letter-spacing: 0px; } h1, .single h1.entry-title{ font-size: 55px; line-height: 1.3em; letter-spacing: 0px; } h2{ font-size: 35px; line-height: 1.3em; letter-spacing: 0px; } h3, .woocommerce-checkout h3{ font-size: 20px; line-height: 1.3em; letter-spacing: 0px; } h4{ font-size: 16px; line-height: 1.3em; letter-spacing: 0px; } h5{ font-size: 14px; line-height: 1.3em; letter-spacing: 0px; } h6{ font-size: 14px; line-height: 1.3em; letter-spacing: 0px; } .header-menu-sidebar{ width: 360px; } .builder-item--logo .site-logo img{ max-width: 204px; } .builder-item--logo .site-logo{ padding:10px 0px 10px 0px; } .builder-item--logo{ margin:0px 0px 0px 0px; } .builder-item--nav-icon .navbar-toggle{ padding:10px 15px 10px 15px; } .builder-item--nav-icon{ margin:0px 0px 0px 0px; } .builder-item--primary-menu .nav-ul > li:not(:last-of-type){ margin-right:20px; } .builder-item--primary-menu .style-full-height .nav-ul li:not(.menu-item-nav-search):not(.menu-item-nav-cart):hover > a:after{ width: calc(100% + 20px); } .builder-item--primary-menu .nav-ul li a, .builder-item--primary-menu .neve-mm-heading span{ min-height: 25px; } .builder-item--primary-menu{ font-size: 1em; line-height: 1.6em; letter-spacing: 0px; padding:0px 0px 0px 0px;margin:0px 0px 0px 0px; } .builder-item--primary-menu svg{ width: 1em;height: 1em; } .builder-item--custom_html .nv-html-content{ font-size: 1em; line-height: 1.6em; letter-spacing: 0px; } .builder-item--custom_html .nv-html-content svg{ width: 1em;height: 1em; } .builder-item--custom_html{ padding:0px 0px 0px 0px;margin:0px 0px 0px 0px; } .builder-item--footer-one-widgets{ padding:0px 0px 0px 0px;margin:0px 0px 0px 0px; } .builder-item--footer_copyright{ font-size: 1em; line-height: 1.6em; letter-spacing: 0px; padding:0px 0px 0px 0px;margin:0px 0px 0px 0px; } .builder-item--footer_copyright svg{ width: 1em;height: 1em; } }@media(min-width: 960px){ .container{ max-width: 1170px; } body:not(.single):not(.archive):not(.blog):not(.search) .neve-main > .container .col{ max-width: 100%; } body:not(.single):not(.archive):not(.blog):not(.search) .nv-sidebar-wrap{ max-width: 0%; } .neve-main > .archive-container .nv-index-posts.col{ max-width: 100%; } .neve-main > .archive-container .nv-sidebar-wrap{ max-width: 0%; } .neve-main > .single-post-container .nv-single-post-wrap.col{ max-width: 70%; } .single-post-container .alignfull > [class*="__inner-container"], .single-post-container .alignwide > [class*="__inner-container"]{ max-width:789px } .container-fluid.single-post-container .alignfull > [class*="__inner-container"], .container-fluid.single-post-container .alignwide > [class*="__inner-container"]{ max-width:calc(70% + 15px) } .neve-main > .single-post-container .nv-sidebar-wrap{ max-width: 30%; } .button.button-primary, button, input[type=button], .btn, input[type="submit"], /* Buttons in navigation */ ul[id^="nv-primary-navigation"] li.button.button-primary > a, .menu li.button.button-primary > a, .wp-block-button.is-style-primary .wp-block-button__link, .wc-block-grid .wp-block-button .wp-block-button__link, form input[type="submit"], form button[type="submit"], #comments input[type="submit"]{ font-size: 16px; } .button.button-secondary:not(.secondary-default), .wp-block-button.is-style-secondary .wp-block-button__link{ font-size: 16px; } .button.button-primary, .wp-block-button.is-style-primary .wp-block-button__link, .wc-block-grid .wp-block-button .wp-block-button__link, form input[type="submit"], form button[type="submit"], #comments input[type="submit"]{ padding:16px 35px 16px 35px; } .button.button-secondary:not(.secondary-default), .wp-block-button.is-style-secondary .wp-block-button__link{ padding:16px 35px 16px 35px; } body, .site-title{ font-size: 17px; line-height: 1.7; letter-spacing: 0px; } h1, .single h1.entry-title{ font-size: 50px; line-height: 1.3em; letter-spacing: 0px; } h2{ font-size: 50px; line-height: 1.3em; letter-spacing: 0px; } h3, .woocommerce-checkout h3{ font-size: 24px; line-height: 1.3em; letter-spacing: 0px; } h4{ font-size: 20px; line-height: 1.3em; letter-spacing: 0px; } h5{ font-size: 16px; line-height: 1.3em; letter-spacing: 0px; } h6{ font-size: 16px; line-height: 1.3em; letter-spacing: 0px; } .header-menu-sidebar{ width: 360px; } .builder-item--logo .site-logo img{ max-width: 257px; } .builder-item--logo .site-logo{ padding:10px 0px 10px 0px; } .builder-item--logo{ margin:0px 0px 0px 0px; } .builder-item--nav-icon .navbar-toggle{ padding:10px 15px 10px 15px; } .builder-item--nav-icon{ margin:0px 0px 0px 0px; } .builder-item--primary-menu .nav-ul > li:not(:last-of-type){ margin-right:20px; } .builder-item--primary-menu .style-full-height .nav-ul li:not(.menu-item-nav-search):not(.menu-item-nav-cart) > a:after{ left:-10px;right:-10px } .builder-item--primary-menu .style-full-height .nav-ul li:not(.menu-item-nav-search):not(.menu-item-nav-cart):hover > a:after{ width: calc(100% + 20px); } .builder-item--primary-menu .nav-ul li a, .builder-item--primary-menu .neve-mm-heading span{ min-height: 25px; } .builder-item--primary-menu{ font-size: 0.8em; line-height: 1.6em; letter-spacing: 0px; padding:0px 0px 0px 0px;margin:0px 0px 0px 0px; } .builder-item--primary-menu svg{ width: 0.8em;height: 0.8em; } .builder-item--custom_html .nv-html-content{ font-size: 1em; line-height: 1.6em; letter-spacing: 0px; } .builder-item--custom_html .nv-html-content svg{ width: 1em;height: 1em; } .builder-item--custom_html{ padding:0px 0px 0px 0px;margin:0px 0px 0px 0px; } .builder-item--footer-one-widgets{ padding:0px 0px 0px 0px;margin:0px 0px 0px 0px; } .builder-item--footer_copyright{ font-size: 1em; line-height: 1.6em; letter-spacing: 0px; padding:0px 0px 0px 0px;margin:0px 0px 0px 0px; } .builder-item--footer_copyright svg{ width: 1em;height: 1em; } }:root{--nv-primary-accent:#2b2b2b;--nv-secondary-accent:#fcaf3b;--nv-site-bg:#ffffff;--nv-light-bg:#ededed;--nv-dark-bg:#14171c;--nv-text-color:#14171c;--nv-text-dark-bg:#ffffff;--nv-c-1:#77b978;--nv-c-2:#f37262;--nv-fallback-ff:Lucida Sans Unicode, Lucida Grande, sans-serif;}
</style>
