<main id="content" class="neve-main" role="main">
	<div class="container single-page-container">
		<div class="row">
			<div class="nv-single-page-wrap col">
				<div class="nv-content-wrap entry-content">
					<div class="is-layout-flex wp-container-7 wp-block-columns">
						<div class="is-layout-flow wp-block-column">
							<div class="wp-block-qubely-infobox qubely-block-f7b5a3">
								<div class="qubely-block-info-box  qubely-info-box-layout-1"><div class="qubely-info-box-media qubely-media-has-bg"><img decoding="async" class="qubely-info-box-image" src="https://www.devlabsalliance.com/wp-content/uploads/2021/07/SDET-to-developer-272x161-1.jpeg" srcset="" alt=""></div><div class="qubely-info-box-body"><div class="qubely-info-box-title-container  qubely-separator-position-top"><div class="qubely-info-box-title-inner"><h2 class="qubely-info-box-title"><a href="/courses/sdet-to-developer-certification-program/">SDET to Developer Certification Program</a></h2></div></div><div class="qubely-info-box-content"><div class="qubely-info-box-text"></div></div></div></div>
							</div>
						</div>
						<div class="is-layout-flow wp-block-column">
							<div class="wp-block-qubely-infobox qubely-block-3ec533">
								<div class="qubely-block-info-box  qubely-info-box-layout-1"><div class="qubely-info-box-media qubely-media-has-bg"><img decoding="async" class="qubely-info-box-image" src="https://www.devlabsalliance.com/wp-content/uploads/2021/07/certified-sdet-272x161-3.jpg" srcset="" alt=""></div><div class="qubely-info-box-body"><div class="qubely-info-box-title-container  qubely-separator-position-top"><div class="qubely-info-box-title-inner"><h2 class="qubely-info-box-title"><a href="/courses/certified-sdet-professional/">Core JAVA<br><br></a></h2></div></div><div class="qubely-info-box-content"><div class="qubely-info-box-text"></div></div></div></div>
							</div>
						</div>
						<div class="is-layout-flow wp-block-column">
							<div class="wp-block-qubely-infobox qubely-block-212ff8">
								<div class="qubely-block-info-box  qubely-info-box-layout-1"><div class="qubely-info-box-media qubely-media-has-bg"><img decoding="async" class="qubely-info-box-image" src="https://www.devlabsalliance.com/wp-content/uploads/2021/07/sdet-advanced-272x161-1.jpg" srcset="" alt=""></div><div class="qubely-info-box-body"><div class="qubely-info-box-title-container  qubely-separator-position-top"><div class="qubely-info-box-title-inner"><h2 class="qubely-info-box-title"><a href="/courses/sdet-advanced/">Python<br><br></a></h2></div></div><div class="qubely-info-box-content"><div class="qubely-info-box-text"> </div></div></div></div>
							</div>
						</div>
						<div class="is-layout-flow wp-block-column">
							<div class="wp-block-qubely-infobox qubely-block-f8ee4f">
								<div class="qubely-block-info-box  qubely-info-box-layout-1"><div class="qubely-info-box-media qubely-media-has-bg"><img decoding="async" class="qubely-info-box-image" src="https://www.devlabsalliance.com/wp-content/uploads/2021/07/certified-sdet-professional-python-272x161-2.jpg" srcset="" alt=""></div><div class="qubely-info-box-body"><div class="qubely-info-box-title-container  qubely-separator-position-top"><div class="qubely-info-box-title-inner"><h2 class="qubely-info-box-title"><a href="/courses/certified-sdet-professional-in-python/">Preplacement</a></h2></div></div><div class="qubely-info-box-content"><div class="qubely-info-box-text"> </div></div></div></div>
							</div>
						</div>
					</div>
					<div class="is-layout-flex wp-container-7 wp-block-columns">
						<div class="is-layout-flow wp-block-column">
							<div class="wp-block-qubely-infobox qubely-block-f7b5a3"><div class="qubely-block-info-box  qubely-info-box-layout-1"><div class="qubely-info-box-media qubely-media-has-bg"><img decoding="async" class="qubely-info-box-image" src="https://www.devlabsalliance.com/wp-content/uploads/2021/07/sdet-master-with-python-272x161-1.jpg" srcset="" alt=""></div><div class="qubely-info-box-body"><div class="qubely-info-box-title-container  qubely-separator-position-top"><div class="qubely-info-box-title-inner"><h2 class="qubely-info-box-title"><a href="/courses/certified-sdet-masters-in-python/">Manual Testing</a></h2></div></div><div class="qubely-info-box-content"><div class="qubely-info-box-text"></div></div></div></div></div>
						</div>
						<div class="is-layout-flow wp-block-column">
							<div class="wp-block-qubely-infobox qubely-block-e3deda"><div class="qubely-block-info-box  qubely-info-box-layout-1"><div class="qubely-info-box-media qubely-media-has-bg"><img decoding="async" class="qubely-info-box-image" src="https://www.devlabsalliance.com/wp-content/uploads/2021/07/sdet-foundation-272x161-1.jpeg" srcset="" alt=""></div><div class="qubely-info-box-body"><div class="qubely-info-box-title-container  qubely-separator-position-top"><div class="qubely-info-box-title-inner"><h2 class="qubely-info-box-title"><a href="/courses/software-development-engineer-in-test-foundation-certification-course/">Competitive Programming<br><br></a></h2></div></div><div class="qubely-info-box-content"><div class="qubely-info-box-text"> </div></div></div></div></div>
						</div>
						<div class="is-layout-flow wp-block-column">
							<div class="wp-block-qubely-infobox qubely-block-b53a3f"><div class="qubely-block-info-box  qubely-info-box-layout-1"><div class="qubely-info-box-media qubely-media-has-bg"><img decoding="async" class="qubely-info-box-image" src="https://www.devlabsalliance.com/wp-content/uploads/2021/07/certified-sdet-architect-272x161-1.jpg" srcset="" alt=""></div><div class="qubely-info-box-body"><div class="qubely-info-box-title-container  qubely-separator-position-top"><div class="qubely-info-box-title-inner"><h2 class="qubely-info-box-title"><a href="/courses/certified-sdet-architect/">Frontend development<br><br></a></h2></div></div><div class="qubely-info-box-content"><div class="qubely-info-box-text"> </div></div></div></div></div>
						</div>
						<div class="is-layout-flow wp-block-column">
							<div class="wp-block-qubely-infobox qubely-block-b53a3f"><div class="qubely-block-info-box  qubely-info-box-layout-1"><div class="qubely-info-box-media qubely-media-has-bg"><img decoding="async" class="qubely-info-box-image" src="https://www.devlabsalliance.com/wp-content/uploads/2021/07/certified-sdet-architect-272x161-1.jpg" srcset="" alt=""></div><div class="qubely-info-box-body"><div class="qubely-info-box-title-container  qubely-separator-position-top"><div class="qubely-info-box-title-inner"><h2 class="qubely-info-box-title"><a href="/courses/certified-sdet-architect/">Backend Devlopment<br><br></a></h2></div></div><div class="qubely-info-box-content"><div class="qubely-info-box-text"> </div></div></div></div></div>
						</div>
					</div>
					<div class="is-layout-flex wp-container-7 wp-block-columns">
						<div class="is-layout-flow wp-block-column">
							<div class="wp-block-qubely-infobox qubely-block-b53a3f"><div class="qubely-block-info-box  qubely-info-box-layout-1"><div class="qubely-info-box-media qubely-media-has-bg"><img decoding="async" class="qubely-info-box-image" src="https://www.devlabsalliance.com/wp-content/uploads/2021/07/certified-sdet-architect-272x161-1.jpg" srcset="" alt=""></div><div class="qubely-info-box-body"><div class="qubely-info-box-title-container  qubely-separator-position-top"><div class="qubely-info-box-title-inner"><h2 class="qubely-info-box-title"><a href="/courses/certified-sdet-architect/">Backend Devlopment<br><br></a></h2></div></div><div class="qubely-info-box-content"><div class="qubely-info-box-text"> </div></div></div></div></div>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>
</main>
<style type="text/css">
	:root {
	  --qubely-color-1: #696CFF;
	  --qubely-color-2: #04C3EC;
	  --qubely-color-3: #363636;
	  --qubely-color-4: #BBC0D4;
	  --qubely-color-5: #FFFFFF;
	}

	:root {
	  --qubely-typo1-font-size: 60px;
	  --qubely-typo1-line-height: 80px;
	  --qubely-typo1-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo1-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo1-font-family: 'Roboto', sans-serif;
	  --qubely-typo1-font-weight: 700;
	  --qubely-typo1-font-style: normal;
	}

	:root {
	  --qubely-typo2-font-size: 48px;
	  --qubely-typo2-line-height: 64px;
	  --qubely-typo2-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo2-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo2-font-family: 'Roboto', sans-serif;
	  --qubely-typo2-font-weight: 700;
	  --qubely-typo2-font-style: normal;
	}

	:root {
	  --qubely-typo3-font-size: 36px;
	  --qubely-typo3-line-height: 48px;
	  --qubely-typo3-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo3-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo3-font-family: 'Roboto', sans-serif;
	  --qubely-typo3-font-weight: 700;
	  --qubely-typo3-font-style: normal;
	}

	:root {
	  --qubely-typo4-font-size: 30px;
	  --qubely-typo4-line-height: 36px;
	  --qubely-typo4-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo4-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo4-font-family: 'Roboto', sans-serif;
	  --qubely-typo4-font-weight: 700;
	  --qubely-typo4-font-style: normal;
	}

	:root {
	  --qubely-typo5-font-size: 18px;
	  --qubely-typo5-line-height: 28px;
	  --qubely-typo5-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo5-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo5-font-family: 'Roboto', sans-serif;
	  --qubely-typo5-font-weight: 700;
	  --qubely-typo5-font-style: normal;
	}

	:root {
	  --qubely-typo6-font-size: 16px;
	  --qubely-typo6-line-height: 24px;
	  --qubely-typo6-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo6-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo6-font-family: 'Roboto', sans-serif;
	  --qubely-typo6-font-weight: 700;
	  --qubely-typo6-font-style: normal;
	}

	:root {
	  --qubely-typo7-font-size: 18px;
	  --qubely-typo7-line-height: 24px;
	  --qubely-typo7-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo7-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo7-font-family: 'Roboto', sans-serif;
	}

	:root {
	  --qubely-typo8-font-size: 14px;
	  --qubely-typo8-line-height: 22px;
	  --qubely-typo8-letter-spacing: 0px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo8-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo8-font-family: 'Roboto', sans-serif;
	}

	:root {
	  --qubely-typo9-font-size: 16px;
	  --qubely-typo9-line-height: 19px;
	  --qubely-typo9-letter-spacing: 3px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo9-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo9-font-family: 'Roboto', sans-serif;
	  --qubely-typo9-font-weight: 700;
	  --qubely-typo9-font-style: normal;
	  --qubely-typo9-text-transform: uppercase;
	}

	:root {
	  --qubely-typo10-font-size: 14px;
	  --qubely-typo10-line-height: 19px;
	  --qubely-typo10-letter-spacing: 3px;
	}

	@media (max-width: 991px) {
	  :root {
	    --qubely-typo10-letter-spacing: 0px;
	  }
	}

	:root {
	  --qubely-typo10-font-family: 'Roboto', sans-serif;
	  --qubely-typo10-font-weight: 700;
	  --qubely-typo10-font-style: normal;
	  --qubely-typo10-text-transform: uppercase;
	}

	@media (min-width: 576px) {
	  .qubely-section .qubely-container {
	    max-width: 540px;
	  }
	}

	@media (min-width: 768px) {
	  .qubely-section .qubely-container {
	    max-width: 720px;
	  }
	}

	@media (min-width: 992px) {
	  .qubely-section .qubely-container {
	    max-width: 960px;
	  }
	}

	@media (min-width: 1200px) {
	  .qubely-section .qubely-container {
	    max-width: 1140px;
	  }
	}

	.qubely-block-f7b5a3 .qubely-block-btn-anchor {
	  border-radius: 4px;
	  ;
	}

	.qubely-block-f7b5a3 .qubely-block-btn-wrapper {
	  margin-bottom: 8px;
	}

	.qubely-block-f7b5a3 .qubely-block-info-box {
	  text-align: left;
	}

	.qubely-block-f7b5a3 {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}

	.qubely-block-f7b5a3 .qubely-info-box-media,
	.qubely-block-f7b5a3 .qubely-info-box-media img {
	  border-radius: 5px 5px 0px 0px;
	  ;
	}

	.qubely-block-f7b5a3 .qubely-info-box-media {
	  margin-bottom: 20px;
	}

	.qubely-block-f7b5a3 .qubely-info-box-title {
	  font-size: 18px;
	  line-height: 1.2em !important;
	}

	.qubely-block-f7b5a3 .qubely-info-box-title-inner {
	  margin-bottom: 10px;
	}

	.qubely-block-f7b5a3 .qubely-block-info-box .qubely-info-box-sub-title {
	  font-size: 16px;
	}

	.qubely-block-f7b5a3 .qubely-info-box-text {
	  font-size: 16px;
	}

	.qubely-block-f7b5a3 .qubely-info-box-body {
	  padding: 0px 8px 8px 8px;
	  ;
	}

	.qubely-block-f7b5a3 .qubely-info-box-body .qubely-info-box-text {
	  margin-bottom: 0;
	}

	.qubely-block-f7b5a3 .qubely-block-info-box {
	  border-radius: 7px;
	  ;
	}

	.qubely-block-f7b5a3 .qubely-block-info-box {
	  border-width: 1px;
	  ;
	  border-color: #e5e5e5;
	  border-style: solid;
	  ;
	}

	@media (max-width: 1199px) {
	  .qubely-block-f7b5a3 .qubely-block-info-box {
	    border-color: #e5e5e5;
	    border-style: solid;
	    ;
	  }
	}

	@media (max-width: 991px) {
	  .qubely-block-f7b5a3 .qubely-block-info-box {
	    border-color: #e5e5e5;
	    border-style: solid;
	    ;
	  }
	}

	.qubely-block-f7b5a3 {
	  position: relative;
	}

	.qubely-block-f7b5a3 {
	  z-index: 0;
	}

	.qubely-block-f7b5a3 .qubely-block-btn-anchor {
	  width: auto !important
	}

	.qubely-block-f7b5a3 .qubely-block-btn-anchor {
	  color: #000;
	}

	.qubely-block-f7b5a3 .qubely-block-btn-anchor:hover {
	  color: #fff;
	}

	.qubely-block-f7b5a3 .qubely-block-btn-anchor {
	  background-image: none;
	  background-color: var(--qubely-color-1);
	}

	.qubely-block-f7b5a3 .qubely-block-btn-anchor:before {
	  background-image: none;
	  background-color: var(--qubely-color-2);
	}

	.qubely-block-f7b5a3 .qubely-block-btn-anchor {
	  border-width: 1px;
	  border-color: var(--qubely-color-1);
	  border-style: solid;
	}

	.qubely-block-f7b5a3 .qubely-block-btn-anchor:hover {
	  border-color: var(--qubely-color-2);
	}

	.qubely-block-f7b5a3 .qubely-info-box-media .qubely-info-box-image:not(.qubely-image-placeholder) {
	  height: auto;
	}

	.qubely-block-f7b5a3 .qubely-block-info-box:hover .qubely-info-box-media {
	  border-color: #e5e5e5;
	}

	.qubely-block-f7b5a3 .qubely-info-box-title {}

	.qubely-block-f7b5a3 .qubely-block-info-box .qubely-info-box-sub-title {}

	.qubely-block-f7b5a3 .qubely-info-box-text {}

	.qubely-block-f7b5a3 .qubely-info-box-text {
	  color: #0071a1;
	}

	.qubely-block-f7b5a3 .qubely-block-info-box:hover {
	  border-color: #e5e5e5;
	}

	.qubely-block-3ec533 .qubely-block-btn-anchor {
	  border-radius: 4px;
	  ;
	}

	.qubely-block-3ec533 .qubely-block-btn-wrapper {
	  margin-bottom: 8px;
	}

	.qubely-block-3ec533 .qubely-block-info-box {
	  text-align: left;
	}

	.qubely-block-3ec533 {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}

	.qubely-block-3ec533 .qubely-info-box-media,
	.qubely-block-3ec533 .qubely-info-box-media img {
	  border-radius: 5px 5px 0px 0px;
	  ;
	}

	.qubely-block-3ec533 .qubely-info-box-media {
	  margin-bottom: 20px;
	}

	.qubely-block-3ec533 .qubely-info-box-title {
	  font-size: 18px;
	  line-height: 1.2em !important;
	}

	.qubely-block-3ec533 .qubely-info-box-title-inner {
	  margin-bottom: 10px;
	}

	.qubely-block-3ec533 .qubely-block-info-box .qubely-info-box-sub-title {
	  font-size: 16px;
	}

	.qubely-block-3ec533 .qubely-info-box-text {
	  font-size: 16px;
	}

	.qubely-block-3ec533 .qubely-info-box-body {
	  padding: 0px 8px 8px 8px;
	  ;
	}

	.qubely-block-3ec533 .qubely-info-box-body .qubely-info-box-text {
	  margin-bottom: 0;
	}

	.qubely-block-3ec533 .qubely-block-info-box {
	  border-radius: 8px;
	  ;
	}

	.qubely-block-3ec533 .qubely-block-info-box {
	  border-width: 1px;
	  ;
	  border-color: #e5e5e5;
	  border-style: solid;
	  ;
	}

	@media (max-width: 1199px) {
	  .qubely-block-3ec533 .qubely-block-info-box {
	    border-color: #e5e5e5;
	    border-style: solid;
	    ;
	  }
	}

	@media (max-width: 991px) {
	  .qubely-block-3ec533 .qubely-block-info-box {
	    border-color: #e5e5e5;
	    border-style: solid;
	    ;
	  }
	}

	.qubely-block-3ec533 {
	  position: relative;
	}

	.qubely-block-3ec533 {
	  z-index: 0;
	}

	.qubely-block-3ec533 .qubely-block-btn-anchor {
	  width: auto !important
	}

	.qubely-block-3ec533 .qubely-block-btn-anchor {
	  color: #000;
	}

	.qubely-block-3ec533 .qubely-block-btn-anchor:hover {
	  color: #fff;
	}

	.qubely-block-3ec533 .qubely-block-btn-anchor {
	  background-image: none;
	  background-color: var(--qubely-color-1);
	}

	.qubely-block-3ec533 .qubely-block-btn-anchor:before {
	  background-image: none;
	  background-color: var(--qubely-color-2);
	}

	.qubely-block-3ec533 .qubely-block-btn-anchor {
	  border-width: 1px;
	  border-color: var(--qubely-color-1);
	  border-style: solid;
	}

	.qubely-block-3ec533 .qubely-block-btn-anchor:hover {
	  border-color: var(--qubely-color-2);
	}

	.qubely-block-3ec533 .qubely-info-box-media .qubely-info-box-image:not(.qubely-image-placeholder) {
	  height: auto;
	}

	.qubely-block-3ec533 .qubely-block-info-box:hover .qubely-info-box-media {
	  border-color: #e5e5e5;
	}

	.qubely-block-3ec533 .qubely-info-box-title {}

	.qubely-block-3ec533 .qubely-block-info-box .qubely-info-box-sub-title {}

	.qubely-block-3ec533 .qubely-info-box-text {}

	.qubely-block-3ec533 .qubely-info-box-text {
	  color: #0071a1;
	}

	.qubely-block-3ec533 .qubely-block-info-box:hover {
	  border-color: #e5e5e5;
	}

	.qubely-block-212ff8 .qubely-block-btn-anchor {
	  border-radius: 4px;
	  ;
	}

	.qubely-block-212ff8 .qubely-block-btn-wrapper {
	  margin-bottom: 8px;
	}

	.qubely-block-212ff8 .qubely-block-info-box {
	  text-align: left;
	}

	.qubely-block-212ff8 {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}

	.qubely-block-212ff8 .qubely-info-box-media,
	.qubely-block-212ff8 .qubely-info-box-media img {
	  border-radius: 5px 5px 0px 0px;
	  ;
	}

	.qubely-block-212ff8 .qubely-info-box-media {
	  margin-bottom: 20px;
	}

	.qubely-block-212ff8 .qubely-info-box-title {
	  font-size: 18px;
	  line-height: 1.2em !important;
	}

	.qubely-block-212ff8 .qubely-info-box-title-inner {
	  margin-bottom: 10px;
	}

	.qubely-block-212ff8 .qubely-block-info-box .qubely-info-box-sub-title {
	  font-size: 16px;
	}

	.qubely-block-212ff8 .qubely-info-box-text {
	  font-size: 16px;
	}

	.qubely-block-212ff8 .qubely-info-box-body {
	  padding: 0px 8px 8px 8px;
	  ;
	}

	.qubely-block-212ff8 .qubely-info-box-body .qubely-info-box-text {
	  margin-bottom: 0;
	}

	.qubely-block-212ff8 .qubely-block-info-box {
	  border-radius: 8px;
	  ;
	}

	.qubely-block-212ff8 .qubely-block-info-box {
	  border-width: 1px;
	  ;
	  border-color: #e5e5e5;
	  border-style: solid;
	  ;
	}

	@media (max-width: 1199px) {
	  .qubely-block-212ff8 .qubely-block-info-box {
	    border-color: #e5e5e5;
	    border-style: solid;
	    ;
	  }
	}

	@media (max-width: 991px) {
	  .qubely-block-212ff8 .qubely-block-info-box {
	    border-color: #e5e5e5;
	    border-style: solid;
	    ;
	  }
	}

	.qubely-block-212ff8 {
	  position: relative;
	}

	.qubely-block-212ff8 {
	  z-index: 0;
	}

	.qubely-block-212ff8 .qubely-block-btn-anchor {
	  width: auto !important
	}

	.qubely-block-212ff8 .qubely-block-btn-anchor {
	  color: #000;
	}

	.qubely-block-212ff8 .qubely-block-btn-anchor:hover {
	  color: #fff;
	}

	.qubely-block-212ff8 .qubely-block-btn-anchor {
	  background-image: none;
	  background-color: var(--qubely-color-1);
	}

	.qubely-block-212ff8 .qubely-block-btn-anchor:before {
	  background-image: none;
	  background-color: var(--qubely-color-2);
	}

	.qubely-block-212ff8 .qubely-block-btn-anchor {
	  border-width: 1px;
	  border-color: var(--qubely-color-1);
	  border-style: solid;
	}

	.qubely-block-212ff8 .qubely-block-btn-anchor:hover {
	  border-color: var(--qubely-color-2);
	}

	.qubely-block-212ff8 .qubely-info-box-media .qubely-info-box-image:not(.qubely-image-placeholder) {
	  height: auto;
	}

	.qubely-block-212ff8 .qubely-block-info-box:hover .qubely-info-box-media {
	  border-color: #e5e5e5;
	}

	.qubely-block-212ff8 .qubely-info-box-title {}

	.qubely-block-212ff8 .qubely-block-info-box .qubely-info-box-sub-title {}

	.qubely-block-212ff8 .qubely-info-box-text {}

	.qubely-block-212ff8 .qubely-info-box-text {
	  color: #0071a1;
	}

	.qubely-block-212ff8 .qubely-block-info-box:hover {
	  border-color: #e5e5e5;
	}

	.qubely-block-f8ee4f .qubely-block-btn-anchor {
	  border-radius: 4px;
	  ;
	}

	.qubely-block-f8ee4f .qubely-block-btn-wrapper {
	  margin-bottom: 8px;
	}

	.qubely-block-f8ee4f .qubely-block-info-box {
	  text-align: left;
	}

	.qubely-block-f8ee4f {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}

	.qubely-block-f8ee4f .qubely-info-box-media,
	.qubely-block-f8ee4f .qubely-info-box-media img {
	  border-radius: 5px 5px 0px 0px;
	  ;
	}

	.qubely-block-f8ee4f .qubely-info-box-media {
	  margin-bottom: 20px;
	}

	.qubely-block-f8ee4f .qubely-info-box-title {
	  font-size: 18px;
	  line-height: 1.2em !important;
	}

	.qubely-block-f8ee4f .qubely-info-box-title-inner {
	  margin-bottom: 10px;
	}

	.qubely-block-f8ee4f .qubely-block-info-box .qubely-info-box-sub-title {
	  font-size: 16px;
	}

	.qubely-block-f8ee4f .qubely-info-box-text {
	  font-size: 16px;
	}

	.qubely-block-f8ee4f .qubely-info-box-body {
	  padding: 0px 8px 8px 8px;
	  ;
	}

	.qubely-block-f8ee4f .qubely-info-box-body .qubely-info-box-text {
	  margin-bottom: 0;
	}

	.qubely-block-f8ee4f .qubely-block-info-box {
	  border-radius: 8px;
	  ;
	}

	.qubely-block-f8ee4f .qubely-block-info-box {
	  border-width: 1px;
	  ;
	  border-color: #e5e5e5;
	  border-style: solid;
	  ;
	}

	@media (max-width: 1199px) {
	  .qubely-block-f8ee4f .qubely-block-info-box {
	    border-color: #e5e5e5;
	    border-style: solid;
	    ;
	  }
	}

	@media (max-width: 991px) {
	  .qubely-block-f8ee4f .qubely-block-info-box {
	    border-color: #e5e5e5;
	    border-style: solid;
	    ;
	  }
	}

	.qubely-block-f8ee4f {
	  position: relative;
	}

	.qubely-block-f8ee4f {
	  z-index: 0;
	}

	.qubely-block-f8ee4f .qubely-block-btn-anchor {
	  width: auto !important
	}

	.qubely-block-f8ee4f .qubely-block-btn-anchor {
	  color: #000;
	}

	.qubely-block-f8ee4f .qubely-block-btn-anchor:hover {
	  color: #fff;
	}

	.qubely-block-f8ee4f .qubely-block-btn-anchor {
	  background-image: none;
	  background-color: var(--qubely-color-1);
	}

	.qubely-block-f8ee4f .qubely-block-btn-anchor:before {
	  background-image: none;
	  background-color: var(--qubely-color-2);
	}

	.qubely-block-f8ee4f .qubely-block-btn-anchor {
	  border-width: 1px;
	  border-color: var(--qubely-color-1);
	  border-style: solid;
	}

	.qubely-block-f8ee4f .qubely-block-btn-anchor:hover {
	  border-color: var(--qubely-color-2);
	}

	.qubely-block-f8ee4f .qubely-info-box-media .qubely-info-box-image:not(.qubely-image-placeholder) {
	  height: auto;
	}

	.qubely-block-f8ee4f .qubely-block-info-box:hover .qubely-info-box-media {
	  border-color: #e5e5e5;
	}

	.qubely-block-f8ee4f .qubely-info-box-title {}

	.qubely-block-f8ee4f .qubely-block-info-box .qubely-info-box-sub-title {}

	.qubely-block-f8ee4f .qubely-info-box-text {}

	.qubely-block-f8ee4f .qubely-info-box-text {
	  color: #0071a1;
	}

	.qubely-block-f8ee4f .qubely-block-info-box:hover {
	  border-color: #e5e5e5;
	}

	.qubely-block-63f717 .qubely-block-btn-anchor {
	  border-radius: 4px;
	  ;
	}

	.qubely-block-63f717 .qubely-block-btn-wrapper {
	  margin-bottom: 8px;
	}

	.qubely-block-63f717 .qubely-block-info-box {
	  text-align: left;
	}

	.qubely-block-63f717 {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}

	.qubely-block-63f717 .qubely-info-box-media,
	.qubely-block-63f717 .qubely-info-box-media img {
	  border-radius: 5px 5px 0px 0px;
	  ;
	}

	.qubely-block-63f717 .qubely-info-box-media {
	  margin-bottom: 20px;
	}

	.qubely-block-63f717 .qubely-info-box-title {
	  font-size: 18px;
	  line-height: 1.2em !important;
	}

	.qubely-block-63f717 .qubely-info-box-title-inner {
	  margin-bottom: 10px;
	}

	.qubely-block-63f717 .qubely-block-info-box .qubely-info-box-sub-title {
	  font-size: 16px;
	}

	.qubely-block-63f717 .qubely-info-box-text {
	  font-size: 16px;
	}

	.qubely-block-63f717 .qubely-info-box-body {
	  padding: 0px 8px 8px 8px;
	  ;
	}

	.qubely-block-63f717 .qubely-info-box-body .qubely-info-box-text {
	  margin-bottom: 0;
	}

	.qubely-block-63f717 .qubely-block-info-box {
	  border-radius: 7px;
	  ;
	}

	.qubely-block-63f717 .qubely-block-info-box {
	  border-width: 1px;
	  ;
	  border-color: #e5e5e5;
	  border-style: solid;
	  ;
	}

	@media (max-width: 1199px) {
	  .qubely-block-63f717 .qubely-block-info-box {
	    border-color: #e5e5e5;
	    border-style: solid;
	    ;
	  }
	}

	@media (max-width: 991px) {
	  .qubely-block-63f717 .qubely-block-info-box {
	    border-color: #e5e5e5;
	    border-style: solid;
	    ;
	  }
	}

	.qubely-block-63f717 {
	  position: relative;
	}

	.qubely-block-63f717 {
	  z-index: 0;
	}

	.qubely-block-63f717 .qubely-block-btn-anchor {
	  width: auto !important
	}

	.qubely-block-63f717 .qubely-block-btn-anchor {
	  color: #000;
	}

	.qubely-block-63f717 .qubely-block-btn-anchor:hover {
	  color: #fff;
	}

	.qubely-block-63f717 .qubely-block-btn-anchor {
	  background-image: none;
	  background-color: var(--qubely-color-1);
	}

	.qubely-block-63f717 .qubely-block-btn-anchor:before {
	  background-image: none;
	  background-color: var(--qubely-color-2);
	}

	.qubely-block-63f717 .qubely-block-btn-anchor {
	  border-width: 1px;
	  border-color: var(--qubely-color-1);
	  border-style: solid;
	}

	.qubely-block-63f717 .qubely-block-btn-anchor:hover {
	  border-color: var(--qubely-color-2);
	}

	.qubely-block-63f717 .qubely-info-box-media .qubely-info-box-image:not(.qubely-image-placeholder) {
	  height: auto;
	}

	.qubely-block-63f717 .qubely-block-info-box:hover .qubely-info-box-media {
	  border-color: #e5e5e5;
	}

	.qubely-block-63f717 .qubely-info-box-title {}

	.qubely-block-63f717 .qubely-block-info-box .qubely-info-box-sub-title {}

	.qubely-block-63f717 .qubely-info-box-text {}

	.qubely-block-63f717 .qubely-info-box-text {
	  color: #0071a1;
	}

	.qubely-block-63f717 .qubely-block-info-box:hover {
	  border-color: #e5e5e5;
	}

	.qubely-block-e3deda .qubely-block-btn-anchor {
	  border-radius: 4px;
	  ;
	}

	.qubely-block-e3deda .qubely-block-btn-wrapper {
	  margin-bottom: 8px;
	}

	.qubely-block-e3deda .qubely-block-info-box {
	  text-align: left;
	}

	.qubely-block-e3deda {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}

	.qubely-block-e3deda .qubely-info-box-media,
	.qubely-block-e3deda .qubely-info-box-media img {
	  border-radius: 5px 5px 0px 0px;
	  ;
	}

	.qubely-block-e3deda .qubely-info-box-media {
	  margin-bottom: 20px;
	}

	.qubely-block-e3deda .qubely-info-box-title {
	  font-size: 18px;
	  line-height: 1.2em !important;
	}

	.qubely-block-e3deda .qubely-info-box-title-inner {
	  margin-bottom: 10px;
	}

	.qubely-block-e3deda .qubely-block-info-box .qubely-info-box-sub-title {
	  font-size: 16px;
	}

	.qubely-block-e3deda .qubely-info-box-text {
	  font-size: 16px;
	}

	.qubely-block-e3deda .qubely-info-box-body {
	  padding: 0px 8px 8px 8px;
	  ;
	}

	.qubely-block-e3deda .qubely-info-box-body .qubely-info-box-text {
	  margin-bottom: 0;
	}

	.qubely-block-e3deda .qubely-block-info-box {
	  border-radius: 8px;
	  ;
	}

	.qubely-block-e3deda .qubely-block-info-box {
	  border-width: 1px;
	  ;
	  border-color: #e5e5e5;
	  border-style: solid;
	  ;
	}

	@media (max-width: 1199px) {
	  .qubely-block-e3deda .qubely-block-info-box {
	    border-color: #e5e5e5;
	    border-style: solid;
	    ;
	  }
	}

	@media (max-width: 991px) {
	  .qubely-block-e3deda .qubely-block-info-box {
	    border-color: #e5e5e5;
	    border-style: solid;
	    ;
	  }
	}

	.qubely-block-e3deda {
	  position: relative;
	}

	.qubely-block-e3deda {
	  z-index: 0;
	}

	.qubely-block-e3deda .qubely-block-btn-anchor {
	  width: auto !important
	}

	.qubely-block-e3deda .qubely-block-btn-anchor {
	  color: #000;
	}

	.qubely-block-e3deda .qubely-block-btn-anchor:hover {
	  color: #fff;
	}

	.qubely-block-e3deda .qubely-block-btn-anchor {
	  background-image: none;
	  background-color: var(--qubely-color-1);
	}

	.qubely-block-e3deda .qubely-block-btn-anchor:before {
	  background-image: none;
	  background-color: var(--qubely-color-2);
	}

	.qubely-block-e3deda .qubely-block-btn-anchor {
	  border-width: 1px;
	  border-color: var(--qubely-color-1);
	  border-style: solid;
	}

	.qubely-block-e3deda .qubely-block-btn-anchor:hover {
	  border-color: var(--qubely-color-2);
	}

	.qubely-block-e3deda .qubely-info-box-media .qubely-info-box-image:not(.qubely-image-placeholder) {
	  height: auto;
	}

	.qubely-block-e3deda .qubely-block-info-box:hover .qubely-info-box-media {
	  border-color: #e5e5e5;
	}

	.qubely-block-e3deda .qubely-info-box-title {}

	.qubely-block-e3deda .qubely-block-info-box .qubely-info-box-sub-title {}

	.qubely-block-e3deda .qubely-info-box-text {}

	.qubely-block-e3deda .qubely-info-box-text {
	  color: #0071a1;
	}

	.qubely-block-e3deda .qubely-block-info-box:hover {
	  border-color: #e5e5e5;
	}

	.qubely-block-b53a3f .qubely-block-btn-anchor {
	  border-radius: 4px;
	  ;
	}

	.qubely-block-b53a3f .qubely-block-btn-wrapper {
	  margin-bottom: 8px;
	}

	.qubely-block-b53a3f .qubely-block-info-box {
	  text-align: left;
	}

	.qubely-block-b53a3f {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}

	.qubely-block-b53a3f .qubely-info-box-media,
	.qubely-block-b53a3f .qubely-info-box-media img {
	  border-radius: 5px 5px 0px 0px;
	  ;
	}

	.qubely-block-b53a3f .qubely-info-box-media {
	  margin-bottom: 20px;
	}

	.qubely-block-b53a3f .qubely-info-box-title {
	  font-size: 18px;
	  line-height: 1.2em !important;
	}

	.qubely-block-b53a3f .qubely-info-box-title-inner {
	  margin-bottom: 10px;
	}

	.qubely-block-b53a3f .qubely-block-info-box .qubely-info-box-sub-title {
	  font-size: 16px;
	}

	.qubely-block-b53a3f .qubely-info-box-text {
	  font-size: 16px;
	}

	.qubely-block-b53a3f .qubely-info-box-body {
	  padding: 0px 8px 8px 8px;
	  ;
	}

	.qubely-block-b53a3f .qubely-info-box-body .qubely-info-box-text {
	  margin-bottom: 0;
	}

	.qubely-block-b53a3f .qubely-block-info-box {
	  border-radius: 8px;
	  ;
	}

	.qubely-block-b53a3f .qubely-block-info-box {
	  border-width: 1px;
	  ;
	  border-color: #e5e5e5;
	  border-style: solid;
	  ;
	}

	@media (max-width: 1199px) {
	  .qubely-block-b53a3f .qubely-block-info-box {
	    border-color: #e5e5e5;
	    border-style: solid;
	    ;
	  }
	}

	@media (max-width: 991px) {
	  .qubely-block-b53a3f .qubely-block-info-box {
	    border-color: #e5e5e5;
	    border-style: solid;
	    ;
	  }
	}

	.qubely-block-b53a3f {
	  position: relative;
	}

	.qubely-block-b53a3f {
	  z-index: 0;
	}

	.qubely-block-b53a3f .qubely-block-btn-anchor {
	  width: auto !important
	}

	.qubely-block-b53a3f .qubely-block-btn-anchor {
	  color: #000;
	}

	.qubely-block-b53a3f .qubely-block-btn-anchor:hover {
	  color: #fff;
	}

	.qubely-block-b53a3f .qubely-block-btn-anchor {
	  background-image: none;
	  background-color: var(--qubely-color-1);
	}

	.qubely-block-b53a3f .qubely-block-btn-anchor:before {
	  background-image: none;
	  background-color: var(--qubely-color-2);
	}

	.qubely-block-b53a3f .qubely-block-btn-anchor {
	  border-width: 1px;
	  border-color: var(--qubely-color-1);
	  border-style: solid;
	}

	.qubely-block-b53a3f .qubely-block-btn-anchor:hover {
	  border-color: var(--qubely-color-2);
	}

	.qubely-block-b53a3f .qubely-info-box-media .qubely-info-box-image:not(.qubely-image-placeholder) {
	  height: auto;
	}

	.qubely-block-b53a3f .qubely-block-info-box:hover .qubely-info-box-media {
	  border-color: #e5e5e5;
	}

	.qubely-block-b53a3f .qubely-info-box-title {}

	.qubely-block-b53a3f .qubely-block-info-box .qubely-info-box-sub-title {}

	.qubely-block-b53a3f .qubely-info-box-text {}

	.qubely-block-b53a3f .qubely-info-box-text {
	  color: #0071a1;
	}

	.qubely-block-b53a3f .qubely-block-info-box:hover {
	  border-color: #e5e5e5;
	}

</style>