<main id="content" class="neve-main" role="main">
  <div class="container single-page-container">
    <div class="row">
      <div class="nv-single-page-wrap col">
        <div class="nv-page-title-wrap nv-big-title">
          <div class="nv-page-title">
            <small class="nv--yoast-breadcrumb neve-breadcrumbs-wrapper">
              <span>
                <span>
                  <a href="<%= root_path %>">Home</a> &raquo; <span><a href="<%= courses_path %>">Courses</a> &raquo; <span class="breadcrumb_last" aria-current="page">Certified SDET Professional – CORE JAVA</span></span>
                </span>
              </span>
            </small>
            <h1>Certified SDET Professional – CORE JAVA</h1>
          </div>
          <!--.nv-page-title-->
        </div>
        <!--.nv-page-title-wrap-->
        <div class="nv-content-wrap entry-content">
          <div class="is-layout-flex wp-container-12 wp-block-columns">
            <div class="is-layout-flow wp-block-column" style="flex-basis: 66.66%;">
              <div class="wp-block-ub-tabbed-content wp-block-ub-tabbed-content-holder wp-block-ub-tabbed-content-horizontal-holder-tablet" id="ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1" data-active-tabs="[0]">
                <div class="wp-block-ub-tabbed-content-tab-holder horizontal-tab-width-tablet">
                  <div role="tablist" class="wp-block-ub-tabbed-content-tabs-title ub-mobile-hide wp-block-ub-tabbed-content-tabs-title-tablet-horizontal-tab">
                    <div
                      role="tab"
                      id="ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1-tab-0"
                      aria-controls="ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1-panel-0"
                      aria-selected="true"
                      class="wp-block-ub-tabbed-content-tab-title-wrap active"
                      tabindex="-1"
                    >
                      <div class="wp-block-ub-tabbed-content-tab-title">Description</div>
                    </div>
                    <div
                      role="tab"
                      id="ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1-tab-1"
                      aria-controls="ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1-panel-1"
                      aria-selected="false"
                      class="wp-block-ub-tabbed-content-tab-title-wrap"
                      tabindex="-1"
                    >
                      <div class="wp-block-ub-tabbed-content-tab-title">Course Details</div>
                    </div>
                    <div
                      role="tab"
                      id="ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1-tab-2"
                      aria-controls="ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1-panel-2"
                      aria-selected="false"
                      class="wp-block-ub-tabbed-content-tab-title-wrap"
                      tabindex="-1"
                    >
                      <div class="wp-block-ub-tabbed-content-tab-title">FAQ</div>
                    </div>
                  </div>
                </div>
                <div class="wp-block-ub-tabbed-content-tabs-content ub-tabbed-content-mobile-accordion">
                  <div class="wp-block-ub-tabbed-content-accordion-toggle active ub-mobile-display">Description</div>
                  <div
                    role="tabpanel"
                    class="wp-block-ub-tabbed-content-tab-content-wrap active"
                    id="ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1-panel-0"
                    aria-labelledby="ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1-tab-0"
                    tabindex="0"
                  >
                    <p>
                      Manual tests are repeated often during development cycles for source code changes and other situations like multiple operating environments and hardware configurations. An automated testing tool is able
                      to&nbsp;playback pre-recorded and predefined actions, compare the results to the expected behaviour and report the success or failure of these manual tests to a test engineer. Once automated tests are created they can
                      easily be repeated and they can be extended to perform tasks impossible with manual testing.
                    </p>

                    <p>
                      The Java Full Stack Developer Certification course provides comprehensive training in Java programming, web development, and full-stack technologies. Participants will gain expertise in HTML, CSS, JavaScript, Spring, Hibernate, SQL, and MySQL. With hands-on projects and practical learning, this course equips learners with the skills to build end-to-end applications. From front-end design to back-end development and database management, this certification ensures proficiency in the tools and technologies essential for becoming a successful full-stack Java developer.
                    </p>

                    <p>
                      
                      <strong><strong>Certified SDET Professional – CORE JAVA</strong></strong>&nbsp;training program by Rajeshwari Tech helps quality specialists who are occupied with the responsibility of doing tasks that need to be automated. Various tasks like searching a web page or assessing the quality of a product can be easily automated using the Selenium in conjunction with the Core Java language.
                    </p>

                    <div class="wp-block-qubely-wrapper qubely-block-40b28b">
                      <div class="qubely-block-wrapper-block">
                        <h3 class="has-text-align-center" id="1--key-features-">
                          <strong>
                            <strong>
                              <strong><strong>Key Features of Certified SDET Professional – Core JAVA Course</strong></strong>
                            </strong>
                          </strong>
                        </h3>

                        <div class="is-layout-flex wp-container-3 wp-block-columns">
                          <div class="is-layout-flow wp-block-column">
                            <div class="wp-block-qubely-advancedlist qubely-block-47dd70">
                              <div class="qubely-block-advanced-list qubely-alignment-left">
                                <ul class="qubely-list qubely-list-type-unordered qubely-list-bullet-check-square">
                                  <li>50 hours of practical oriented training cum workshop</li>
                                  <li>Background of Java</li>
                                  <li>Basics of Java Syntax</li>
                                  <li>Integrated development environment</li>
                                  <li>main() method syntax</li>
                                  <li>JDK /JRE - Language Features</li>                                  
                                  <li>Each session followed with exercise and Project Work</li>
                                  <li>Certification Guidance</li>
                                  <li>Industry specific project implementation</li>
                                  <li>Flexible Schedule</li>
                                  <li>Doubt Clearing and Technical Support</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div style="height: 36px;" aria-hidden="true" class="wp-block-spacer"></div>

                    <h3 class="has-text-align-center" id="2-trainings-for">Certified SDET Professional – Core JAVA</h3>

                    <div class="wp-block-getwid-table has-border-collapse-separate">
                      <table>
                        <tbody>
                          <tr>
                            <td style="background-color: #0071a1; color: var(--nv-site-bg);">Individual Classroom Learning</td>
                            <td style="background-color: #0071a1; color: var(--nv-site-bg); border-left-color: var(--nv-light-bg); border-left-width: 3px;">Corporate Training Solutions</td>
                          </tr>
                          <tr>
                            <td style="border-right-color: #000;">Instructor led Practical Oriented Training</td>
                            <td style="border-left-color: #000;">Face 2 Face Interactive Practical Oriented training</td>
                          </tr>
                          <tr>
                            <td>Flexible Schedule</td>
                            <td>Learn as per full day schedule with discussions and exercises</td>
                          </tr>
                          <tr>
                            <td>Recorded Sessions will be available within 24 hours</td>
                            <td>Doubt Clear sessions</td>
                          </tr>
                          <tr>
                            <td>Technical Support</td>
                            <td>Completely Customizable course content and schedule based on your need</td>
                          </tr>
                          <tr>
                            <td>Certification Guidance Provided</td>
                            <td>Certification Guidance Provided</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Case studies and Use cases implementations</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="wp-block-qubely-wrapper qubely-block-40e501">
                      <div class="qubely-block-wrapper-block">
                        <h3 class="has-text-align-center" id="3-who-should-take-this-course">Who should take Certified SDET Professional – Core JAVA course?</h3>

                        <div class="ub_styled_list" id="ub_styled_list-82e03766-0ae4-406e-baa9-3387a8cb1212">
                          <ul class="fa-ul">
                            <li>Software Engineers who wants to learn JAVA programming language from scratch.</li>
                            <li>Graduates/Post Graduates – BE, B.Tech., BCA, MCA and B.Sc. in Computers with good analytical skills, knowledge of algorithms and programming terminologies.</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div style="height: 36px;" aria-hidden="true" class="wp-block-spacer"></div>

                    <div class="wp-block-qubely-wrapper qubely-block-7db1c0">
                      <div class="qubely-block-wrapper-block">
                        <h3 class=" has-text-color" id="4-what-you%E2%80%99ll-learn-from-this-course">What you’ll learn from Certified SDET Professional – CORE Java course</h3>

                        <p class=" has-text-color">
                          This is a comprehensive online course consists of 50 hours where our experienced trainers will teach you all topics of JAVA programming like installation, operators, control statements, Strings, Tuples, Lists,
                          Dictionary, Functions, etc. and , Types of Locators, &nbsp;Automation of Web Elements, Waits, Reporting and much. You will learn all these concepts with hands on
                          experience in one of Live Project.
                        </p>
                      </div>
                    </div>

                    <div style="height: 36px;" aria-hidden="true" class="wp-block-spacer"></div>

                    <div class="wp-block-qubely-wrapper qubely-block-22f750">
                      <div class="qubely-block-wrapper-block">
                        <h3 id="6--certification-">
                          <strong>
                            <strong>
                              <strong>
                                <strong><strong>Certified SDET Professional – CORE Java Course Certification</strong></strong>
                              </strong>
                            </strong>
                          </strong>
                        </h3>

                        <p>
                          Professionals certified in Certified SDET Professional – CORE Java course by Rajeshwari Tech work with global organizations like Accenture, Optum, Cognizant, Oracle, Expedia, TCS, AON, Sun Life Insurance, Wipro,
                          &nbsp;etc.
                        </p>

                        <p>
                          To unlock Rajeshwari Tech’s certification, you have to complete and submit the use case assignments provided during the course, then assignments submitted by you will be evaluated by a team of JAVA experts and practitioners. Your result will be shared after assessment and certification will be awarded accordingly.
                        </p>
                      </div>
                    </div>

                    <div style="height: 52px;" aria-hidden="true" class="wp-block-spacer"></div>

                    <h3 class="has-text-align-center" id="why-you-should-take-this-course-from-devlabs-alliance"><strong>Why you should take this course from Rajeshwari Tech</strong></h3>

                    <div class="wp-block-getwid-table">
                      <table>
                        <tbody>
                          <tr>
                            <td style="background-color: #0071a1; color: var(--nv-site-bg); text-align: center;">Features</td>
                            <td style="background-color: #0071a1; color: var(--nv-site-bg); text-align: center;">Rajeshwari Tech</td>
                            <td style="background-color: #0071a1; color: var(--nv-site-bg); text-align: center;">Other Training Providers</td>
                          </tr>
                          <tr>
                            <td style="text-align: center;">Classroom Session</td>
                            <td style="text-align: center;">✔ Interactive Classes room session with Extensive hands-on</td>
                            <td style="text-align: center;">Instructor led, no hands-on</td>
                          </tr>
                          <tr>
                            <td style="text-align: center;">1-1 Training</td>
                            <td style="text-align: center;">✔</td>
                            <td style="text-align: center;"><strong>✗</strong></td>
                          </tr>
                          <tr>
                            <td style="text-align: center;">Training Schedule</td>
                            <td style="text-align: center;">Flexible</td>
                            <td style="text-align: center;">Fixed</td>
                          </tr>
                          <tr>
                            <td style="text-align: center;">Customized Course</td>
                            <td style="text-align: center;">✔</td>
                            <td style="text-align: center;"><strong>✗</strong></td>
                          </tr>
                          <tr>
                            <td style="text-align: center;">Support Post Session</td>
                            <td style="text-align: center;">✔</td>
                            <td style="text-align: center;"><strong>✗</strong></td>
                          </tr>
                          <tr>
                            <td style="text-align: center;">Case Studies Discussion</td>
                            <td style="text-align: center;">✔</td>
                            <td style="text-align: center;"><strong>✗</strong></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="wp-block-ub-tabbed-content-accordion-toggle ub-mobile-display">Course Details</div>
                  <div
                    role="tabpanel"
                    class="wp-block-ub-tabbed-content-tab-content-wrap ub-hide"
                    id="ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1-panel-1"
                    aria-labelledby="ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1-tab-1"
                    tabindex="0"
                  >
                    <div class="wp-block-ub-content-toggle" id="ub-content-toggle-b5c59942-48d5-48f6-9cf3-c34183f07fb5" data-mobilecollapse="false" data-desktopcollapse="true">
                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-0-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Introduction</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-0-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>History</li>

                            <li>Features</li>

                            <li>Setting up path</li>

                            <li>Working with Core JAVA</li>

                            <li>Basic Syntax</li>

                            <li>Variable and Data Types</li>

                            <li>Operator</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-1-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Conditional Statements</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-1-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>If</li>

                            <li>If- else</li>

                            <li>Nested if-else</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-2-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Looping</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-2-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>For</li>

                            <li>While</li>

                            <li>Nested loops</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-3-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Control Statements</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-3-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>Break</li>

                            <li>Continue</li>

                            <li>Pass</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-4-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">String Manipulation (Key for Interview)</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-4-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>Accessing Strings</li>

                            <li>Basic Operations</li>

                            <li>String slices</li>

                            <li>Function and Methods</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-5-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Lists and Sets</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-5-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>Introduction</li>

                            <li>Accessing list and sets</li>

                            <li>Operations</li>

                            <li>Working with lists and sets</li>

                            <li>Function and Methods</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-6-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Tuple</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-6-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>Introduction</li>

                            <li>Accessing Tuples</li>

                            <li>Operations</li>

                            <li>Working</li>

                            <li>Functions and Methods</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-7-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Dictionaries</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-7-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>Introduction Accessing values in dictionaries</li>

                            <li>Working with dictionaries</li>

                            <li>Properties</li>

                            <li>Functions</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-8-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Functions</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-8-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>Defining a function</li>

                            <li>Calling a function</li>

                            <li>Types of functions</li>

                            <li>Function Arguments</li>

                            <li>Anonymous functions</li>

                            <li>Global and local variables</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-9-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Modules</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-9-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>Importing module</li>

                            <li>Math module</li>

                            <li>Random module</li>

                            <li>Packages</li>

                            <li>Composition</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-10-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Input-Output</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-10-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>Printing on screen</li>

                            <li>Reading data from keyboard</li>

                            <li>Opening and closing file</li>

                            <li>Reading and writing files</li>

                            <li>Functions</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-11-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">OOPs Concept Class and Object</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-11-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>Attributes</li>

                            <li>Inheritance</li>

                            <li>Overloading</li>

                            <li>Overriding</li>

                            <li>Data hiding</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-12-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Exception Handling</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-12-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>Exception</li>

                            <li>Exception Handling</li>

                            <li>Except clause</li>

                            <li>Try ? finally clause</li>

                            <li>User Defined Exceptions</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-15-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Developer tools in firefox and chrome | selenium</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-15-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>Developer tool in chrome</li>

                            <li>Developer tool in firefox</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-17-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Waits</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-17-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>Implicit wait</li>

                            <li>Explicit wait</li>
                          </ul>
                        </div>
                      </div>


                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-20-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Popups and Alerts</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-20-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>Iframes</li>

                            <li>Handling multiple windows</li>

                            <li>Handling web tables</li>

                            <li>Screenshots</li>

                            <li>Mouse and keyboard Actions</li>

                            <li>Exceptions</li>

                            <li>Handling Files</li>

                            <li>Java Script Executor</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-30-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Allure Reporting</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-30-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>Configuring Allure Report</li>

                            <li>Interview Questions</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-31-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">GitHub/BitBucket</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-31-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>Overview of GIT</li>

                            <li>GIT Installation</li>

                            <li>Create GIT Account</li>

                            <li>GIT Lifecycle</li>

                            <li>GIT Integration with Eclipse</li>

                            <li>GIT Create</li>

                            <li>GIT Clone</li>

                            <li>GIT Commit</li>

                            <li>GIT Push</li>

                            <li>GIT Update</li>

                            <li>GIT Delete</li>

                            <li>GIT Stash</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-32-b5c59942-48d5-48f6-9cf3-c34183f07fb5" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5">Jenkins</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-32-b5c59942-48d5-48f6-9cf3-c34183f07fb5">
                          <ul>
                            <li>What is Jenkins?</li>

                            <li>How to install Jenkins?</li>

                            <li>Create your first job in Jenkins</li>

                            <li>Create Pipeline using Jenkins</li>

                            <li>How to integrate Smoke, System and Regression test in CI/CD pipeline?</li>

                            <li>Integrating your project with Jenkins.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wp-block-ub-tabbed-content-accordion-toggle ub-mobile-display">FAQ</div>
                  <div
                    role="tabpanel"
                    class="wp-block-ub-tabbed-content-tab-content-wrap ub-hide"
                    id="ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1-panel-2"
                    aria-labelledby="ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1-tab-2"
                    tabindex="0"
                  >
                    <p></p>

                    <div class="wp-block-ub-content-toggle" id="ub-content-toggle-d054921a-4043-41b1-b29c-d760f30a5803" data-mobilecollapse="false" data-desktopcollapse="true">
                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-0-d054921a-4043-41b1-b29c-d760f30a5803" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-d054921a-4043-41b1-b29c-d760f30a5803">What is Java?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-0-d054921a-4043-41b1-b29c-d760f30a5803">
                          <p>
                            Java is a programming language and computing platform first released by Sun Microsystems in 1995. It has evolved from humble beginnings to power a large share of today’s digital world, by providing the reliable platform upon which many services and applications are built. New, innovative products and digital services designed for the future continue to rely on Java, as well.

                            While most modern Java applications combine the Java runtime and application together, there are still many applications and even some websites that will not function unless you have a desktop Java installed. Java.com, this website, is intended for consumers who may still require Java for their desktop applications – specifically applications targeting Java 8. Developers as well as users that would like to learn Java programming should visit the dev.java website instead and business users should visit oracle.com/java for more information.
                          </p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-1-d054921a-4043-41b1-b29c-d760f30a5803" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-d054921a-4043-41b1-b29c-d760f30a5803">Is Java good language for beginning programmers?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-1-d054921a-4043-41b1-b29c-d760f30a5803">
                          <p>
                            Yes, Java is a good language to start with. It is quiet common with students to start with a procedural language such as C, Pascal, etc. Students may be better served if they start with Java as their
                            first language. Java has a very simple and consistent syntax and also a large standard library. Using Java in a beginning programming course will let students concentrate on important programming skills such
                            as problem decomposition and data type design. Students can be quickly introduced to basic concepts such as loops and procedures with Java.
                          </p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-2-d054921a-4043-41b1-b29c-d760f30a5803" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-d054921a-4043-41b1-b29c-d760f30a5803">What is the use of Automation Testing?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-2-d054921a-4043-41b1-b29c-d760f30a5803">
                          <p>
                            Test Automation software is the best way to increase the effectiveness, efficiency and coverage of your software testing. Automated software testing has long been considered critical for big software development
                            organizations but is often thought to be too expensive or difficult for smaller companies to implement. Here are some of the benefits which tells why to implement automation testing:
                          </p>

                          <ul>
                            <li>Saves time and money</li>

                            <li>Vastly increase your test coverage</li>

                            <li>Improves accuracy</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-3-d054921a-4043-41b1-b29c-d760f30a5803" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-d054921a-4043-41b1-b29c-d760f30a5803">Why Selenium is better than the other testing tools?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-3-d054921a-4043-41b1-b29c-d760f30a5803">
                          <p>
                            In Selenium, record and playback web form application is very small to use in terms of resource usage whereas other testing tools use maximum resources and kind of bulky for one simple form. Selenium IDE focuses
                            on Developers with exporting different programming languages and cross browser testing. The below in-detailed features of Selenium justifies that Selenium is better than the other testing tools:
                          </p>

                          <ul>
                            <li>License – Free</li>

                            <li>Software Size – Less than 100 MB</li>

                            <li>Objects Recognition – Firebug (FF add-on)</li>

                            <li>Support – Openqa, seleniumhq &amp; other forums</li>

                            <li>Scripting language – Java, C#, Python, Ruby</li>

                            <li>Browsers supported – IE, Firefox, Safari, Opera</li>

                            <li>Operating System – Windows, Mac, Linux, iOS, Android</li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-4-d054921a-4043-41b1-b29c-d760f30a5803" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-d054921a-4043-41b1-b29c-d760f30a5803">What are the modes of training you provide?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-4-d054921a-4043-41b1-b29c-d760f30a5803">
                          <p>
                            Rajeshwari Tech provides the online and classroom trainings. The trainings are delivered by highly skilled automation practioners cum trainers. These trainings are practical workshops where participants are
                            engaged into hands on exercises and uses cases. Our trainings are completely interactive and we do not promote unidirectional or only instructor lead sessions.
                          </p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-5-d054921a-4043-41b1-b29c-d760f30a5803" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-d054921a-4043-41b1-b29c-d760f30a5803">Why is it important to become a Certified SDET Foundation &#8211; Java Professional?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-5-d054921a-4043-41b1-b29c-d760f30a5803">
                          <p>
                            Certified SDET Foundation &#8211; Java Certification helps companies to assess the trainees for development of web applications using Java. This certification validates the trainee’s key aspects of Selenium
                            and Java such as recording, editing and debugging tests in conjunction with Java.
                          </p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-6-d054921a-4043-41b1-b29c-d760f30a5803" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-d054921a-4043-41b1-b29c-d760f30a5803">What are benefits of taking Online training as compared to Classroom training?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-6-d054921a-4043-41b1-b29c-d760f30a5803">
                          <p>
                            Some of the major benefits are:<br />
                            <strong>Interactive&nbsp;–</strong>&nbsp;Two-way voice over internet and web-conferencing tool. This tool enables participants to ask questions and collaborate with each other in an online virtual space and
                            enables the online trainer to answer questions, take simulations, and receive answers instantaneously. Every trainee can view the trainers desktop and vice versa.
                          </p>

                          <p>
                            <strong>Cost Savings and Convenience&nbsp;</strong>– Courses can be completed from home, the office, or wherever the Internet is accessible. There is no need to travel to a specific location to attend a training
                            program. Less overhead cost for the company and the savings is passed on to the trainees. Shorter course schedules mean that projects don’t have to be put on hold while participants train (for corporations).
                          </p>

                          <p>
                            <strong>Never Miss a Session&nbsp;–</strong>&nbsp;With online training, you can receive archived video recorded sessions to all enrolees and the streaming video recording links are posted on the training blog
                            after each session. Participants may view these sessions to review sessions post-class or make up a missed class as needed. Accesses to Video Recordings are available after the training end thus making it easy
                            for you to review after training ends. Location Independent&nbsp;– You may join for an online instructor-led course from any part of the world without having to travel. Trainees can attend from USA, Canada, New
                            Zealand, UK, Australia, India and many other countries around the world.
                          </p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-7-d054921a-4043-41b1-b29c-d760f30a5803" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-d054921a-4043-41b1-b29c-d760f30a5803">Who are the Instructors and what are their qualifications?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-7-d054921a-4043-41b1-b29c-d760f30a5803">
                          <p>
                            All Instructors of Rajeshwari Tech are automation practioners &amp; are working professionals from leading organizations who have minimum of 8 years of real-time consulting experience working on live projects
                            and excellent subject knowledge.
                          </p>

                          <h4><a href="index.html#collapse8"></a></h4>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-8-d054921a-4043-41b1-b29c-d760f30a5803" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-d054921a-4043-41b1-b29c-d760f30a5803">What if I missed one of my session of this course?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-8-d054921a-4043-41b1-b29c-d760f30a5803">
                          <p>
                            You can go through the recorded sessions as per your convenience and in case if you have any open questions around the same topics then we can arrange some extra time so that you can align yourself with the
                            ongoing class.
                          </p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-9-d054921a-4043-41b1-b29c-d760f30a5803" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-d054921a-4043-41b1-b29c-d760f30a5803">What is the refund policy?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-9-d054921a-4043-41b1-b29c-d760f30a5803">
                          <h4 id="for-virtual-instructor-led-ivlt-training">For Virtual Instructor-Led (IVLT) training:</h4>

                          <p>
                            You are requested to raise the refund request within 7 days of the beginning of the first batch in which you are eligible to attend. Refund/Money back does not apply in any other condition, except the batch is
                            cancelled by Rajeshwari Tech due to instructor unavailability insufficient enrollments, or forced measures(like floods, earthquakes, national/global pandemic, political instability, etc.). However, the learner
                            can choose to join another batch of the same training/course after discussing with Rajeshwari Tech management.
                          </p>

                          <p>For refund conditions, please refer to the “Refund” section below.</p>

                          <h4 id="for-classroom-training">For Classroom Training</h4>

                          <p>
                            We may need to postpone/cancel an event because of many reasons, such as insufficient enrollments, instructor unavailability, or force majeure events (like floods, earthquakes, political instability, etc). For
                            refund conditions, please refer to the “Refund” section below.
                          </p>

                          <p>For Refund(applicable for IVLT and Classroom training)</p>

                          <p>If we cancel an event, 100 percent of training/course fees will be refunded to the learner.</p>

                          <p>If a cancellation is done by an attendee, 7 days (or more) before the batch begins, a total of 10% of the total paid fee will be deducted and the remaining amount will be refunded to the learner.</p>

                          <p>
                            If a cancellation is done by a learner within 7 days (or less) of the start of the batch or after attending a maximum of 2 classes, 25% of the total paid fee will be deducted and the remaining amount will be
                            refunded to the learner.
                          </p>

                          <p>
                            Refund requests can be initiated by sending emails to the Rajeshwari Tech team at training@devlabsalliance.com or accounts@devlabsalliance.com. Refund request usually takes 3-4 working days to get approved by
                            Finance and then 10-15 working days to get the payment back into the source account of the learner.
                          </p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-10-d054921a-4043-41b1-b29c-d760f30a5803" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-d054921a-4043-41b1-b29c-d760f30a5803">What will I get after each session?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-10-d054921a-4043-41b1-b29c-d760f30a5803">
                          <p>
                            By the end of each session you will get a recording of each class. You can access these recordings any time, distribution of these recordings without Rajeshwari Tech`s permission is not allowed. Assignments will
                            also be provided as per planned syllabus.
                          </p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-11-d054921a-4043-41b1-b29c-d760f30a5803" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-d054921a-4043-41b1-b29c-d760f30a5803">What if I will not be able to attend the training?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-11-d054921a-4043-41b1-b29c-d760f30a5803">
                          <p>You can choose any upcoming training and we can accommodate you in that.</p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-12-d054921a-4043-41b1-b29c-d760f30a5803" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-d054921a-4043-41b1-b29c-d760f30a5803">Is my certificate valid for one year?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-12-d054921a-4043-41b1-b29c-d760f30a5803">
                          <p>No, your certificate will be valid for life time.Shall I get any certificate after completion of this course? Yes, once your assessment process is complete then certificate will be awarded to you.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wp-block-ub-tabbed-content-accordion-toggle ub-mobile-display">Upcoming Classes</div>
                  <div
                    role="tabpanel"
                    class="wp-block-ub-tabbed-content-tab-content-wrap ub-hide"
                    id="ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1-panel-3"
                    aria-labelledby="ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1-tab-3"
                    tabindex="0"
                  >
                    <div class="is-layout-flex wp-container-9 wp-block-columns">
                      <div class="is-layout-flow wp-block-column">
                        <p class="has-text-align-center">
                          10th Dec 2022 – 22th Jan 2023<br />
                          Sat – Sun (7 weekends)
                        </p>

                        <p class="has-text-align-center">
                          08:00AM – 10:30AM (IST)<br />
                          04:30AM – 07:00AM (CET)<br />
                          10:30PM – 1:00AM (EST)
                        </p>
                      </div>

                      <div class="is-layout-flow wp-block-column">
                        <p class="has-text-align-center">INR14000 / $276</p>

                        <p class="has-text-align-center">
                          *EMI Option available<br />
                          <a href="tel:+91 73037 22557">Talk to Course Advisor</a>
                        </p>
                        <p></p>
                      </div>
                    </div>

                    <p class="has-text-align-center">*Prices in INR are applicable only for Indian residents with residency proof. 18% GST additional.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%= render 'home/courses_css_js' %>
<style type="text/css">
  #ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1 .wp-block-ub-tabbed-content-tab-title-wrap, #ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1 .wp-block-ub-tabbed-content-tab-title-vertical-wrap{ background-color: var(--nv-light-bg); border-color: lightgrey; color: inherit; } #ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1 .wp-block-ub-tabbed-content-tab-title-wrap.active, #ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1 .wp-block-ub-tabbed-content-tab-title-vertical-wrap.active,#ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1 .wp-block-ub-tabbed-content-accordion-toggle.active{ background-color: #e7f6ff; color: inherit; }#ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1 .wp-block-ub-tabbed-content-accordion-toggle.active{ background-color: #e7f6ff; }#ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1 .wp-block-ub-tabbed-content-tabs-title{ justify-content: flex-start; } #ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1 .wp-block-ub-tabbed-content-accordion-toggle{ background-color: var(--nv-light-bg); color: inherit; } #ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1 .wp-block-ub-tabbed-content-tab-title-wrap:nth-child(1){ text-align: center; } #ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1 .wp-block-ub-tabbed-content-tab-title-wrap:nth-child(2){ text-align: center; } #ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1 .wp-block-ub-tabbed-content-tab-title-wrap:nth-child(3){ text-align: center; } #ub-tabbed-content-6a780f93-2366-49e0-b5bb-1912d9f8daf1 .wp-block-ub-tabbed-content-tab-title-wrap:nth-child(4){ text-align: center; } #ub_styled_list-82e03766-0ae4-406e-baa9-3387a8cb1212 .fa-li{ top: 3px; } #ub_styled_list-82e03766-0ae4-406e-baa9-3387a8cb1212{ text-align: left; } #ub_styled_list-82e03766-0ae4-406e-baa9-3387a8cb1212 li::before{ top: 3px; font-size: 1em; height: 0.9em; width: 0.9em; background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23000000" d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"></path></svg>'); }#ub_styled_list-82e03766-0ae4-406e-baa9-3387a8cb1212 li{ text-indent: -0.9em; }#ub-content-toggle-b5c59942-48d5-48f6-9cf3-c34183f07fb5 .wp-block-ub-content-toggle-accordion{ border-color: #f1f1f1; } #ub-content-toggle-b5c59942-48d5-48f6-9cf3-c34183f07fb5 .wp-block-ub-content-toggle-accordion-title-wrap{ background-color: #f1f1f1; } #ub-content-toggle-b5c59942-48d5-48f6-9cf3-c34183f07fb5 .wp-block-ub-content-toggle-accordion-title{ color: #000000; } #ub-content-toggle-b5c59942-48d5-48f6-9cf3-c34183f07fb5 .wp-block-ub-content-toggle-accordion-toggle-wrap{ color: #000000; } .ub-content-toggle-title-b5c59942-48d5-48f6-9cf3-c34183f07fb5 > a{ color: inherit; }#ub-content-toggle-d054921a-4043-41b1-b29c-d760f30a5803 .wp-block-ub-content-toggle-accordion{ border-color: #f1f1f1; } #ub-content-toggle-d054921a-4043-41b1-b29c-d760f30a5803 .wp-block-ub-content-toggle-accordion-title-wrap{ background-color: #f1f1f1; } #ub-content-toggle-d054921a-4043-41b1-b29c-d760f30a5803 .wp-block-ub-content-toggle-accordion-title{ color: #000000; } #ub-content-toggle-d054921a-4043-41b1-b29c-d760f30a5803 .wp-block-ub-content-toggle-accordion-toggle-wrap{ color: #000000; } .ub-content-toggle-title-d054921a-4043-41b1-b29c-d760f30a5803 > a{ color: inherit; }#ub-button-c187105e-147e-40cd-a8c0-600abb402ebc .ub-button-container:nth-child(1) a{ background-color: var(--nv-secondary-accent); color: var(--nv-primary-accent); border: none;border-radius: 60px;} #ub-button-c187105e-147e-40cd-a8c0-600abb402ebc .ub-button-container:nth-child(1) a:hover{ background-color: #313131; color: #ffffff; border: none;} #ub-button-c187105e-147e-40cd-a8c0-600abb402ebc .ub-button-container:nth-child(1) .ub-button-content-holder{ flex-direction: row; } #ub-button-5228d0d1-7ea3-4db9-a90e-1a40f686ea68 .ub-button-container:nth-child(1) a{ background-color: var(--nv-secondary-accent); color: var(--nv-primary-accent); border: none;border-radius: 60px;} #ub-button-5228d0d1-7ea3-4db9-a90e-1a40f686ea68 .ub-button-container:nth-child(1) a:hover{ background-color: #313131; color: #ffffff; border: none;} #ub-button-5228d0d1-7ea3-4db9-a90e-1a40f686ea68 .ub-button-container:nth-child(1) .ub-button-content-holder{ flex-direction: row; }
</style>
<style type="text/css">
  .entry-content .is-layout-flex{
    display: block !important;
  }
</style>