<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<main id="content" class="neve-main" role="main">
  <div class="container single-page-container">
    <div class="row">
      <div class="nv-single-page-wrap col">
        <div class="nv-page-title-wrap nv-big-title">
          <div class="nv-page-title">
            <small class="nv--yoast-breadcrumb neve-breadcrumbs-wrapper">
              <span>
                <span>
                  <a href="/">Home</a> &raquo; <span><a href="<%= courses_path %>">Courses</a> &raquo; <span class="breadcrumb_last" aria-current="page">Certified SDET Professional</span></span>
                </span>
              </span>
            </small>
            <h1>SDET Professional Course</h1>
          </div>
          <!--.nv-page-title-->
        </div>
        <!--.nv-page-title-wrap-->
        <div class="nv-content-wrap entry-content">
          <div class="is-layout-flex wp-container-15 wp-block-columns">
            <div class="is-layout-flow wp-block-column" style="flex-basis: 66.66%;">
              <div class="wp-block-ub-tabbed-content wp-block-ub-tabbed-content-holder wp-block-ub-tabbed-content-horizontal-holder-tablet" id="ub-tabbed-content-f6e5d105-d751-4818-982e-142001b3503f" data-active-tabs="[0]">
                <div class="wp-block-ub-tabbed-content-tab-holder horizontal-tab-width-tablet">
                  <div role="tablist" class="wp-block-ub-tabbed-content-tabs-title ub-mobile-hide wp-block-ub-tabbed-content-tabs-title-tablet-horizontal-tab">
                    <div
                      role="tab"
                      id="ub-tabbed-content-f6e5d105-d751-4818-982e-142001b3503f-tab-0"
                      aria-controls="ub-tabbed-content-f6e5d105-d751-4818-982e-142001b3503f-panel-0"
                      aria-selected="true"
                      class="wp-block-ub-tabbed-content-tab-title-wrap active"
                      tabindex="-1"
                    >
                      <div class="wp-block-ub-tabbed-content-tab-title">Description</div>
                    </div>
                    <div
                      role="tab"
                      id="ub-tabbed-content-f6e5d105-d751-4818-982e-142001b3503f-tab-1"
                      aria-controls="ub-tabbed-content-f6e5d105-d751-4818-982e-142001b3503f-panel-1"
                      aria-selected="false"
                      class="wp-block-ub-tabbed-content-tab-title-wrap"
                      tabindex="-1"
                    >
                      <div class="wp-block-ub-tabbed-content-tab-title">Course Details</div>
                    </div>
                    <div
                      role="tab"
                      id="ub-tabbed-content-f6e5d105-d751-4818-982e-142001b3503f-tab-2"
                      aria-controls="ub-tabbed-content-f6e5d105-d751-4818-982e-142001b3503f-panel-2"
                      aria-selected="false"
                      class="wp-block-ub-tabbed-content-tab-title-wrap"
                      tabindex="-1"
                    >
                      <div class="wp-block-ub-tabbed-content-tab-title">FAQ</div>
                    </div>
                  </div>
                </div>
                <div class="wp-block-ub-tabbed-content-tabs-content ub-tabbed-content-mobile-accordion">
                  <div class="wp-block-ub-tabbed-content-accordion-toggle active ub-mobile-display">Description</div>
                  <div
                    role="tabpanel"
                    class="wp-block-ub-tabbed-content-tab-content-wrap active"
                    id="ub-tabbed-content-f6e5d105-d751-4818-982e-142001b3503f-panel-0"
                    aria-labelledby="ub-tabbed-content-f6e5d105-d751-4818-982e-142001b3503f-tab-0"
                    tabindex="0"
                  >
                    <p>
                      Earlier software developers write the code and testers tested it (using the black/white box testing method) for quality assurance purposes, which is not sufficient in the current digital world. Today’s IT industry has
                      acknowledged that there is a need for rigorous Software testing and is now in need of professionals in engineering roles like SDET (Software Development Engineer in Test).
                    </p>

                    <p>
                      SDET (Software Development Engineer in Test) by Rajeshwari Tech maintains a team of skilled professionals, who are adept in the area of quality engineering as well as Software Development. SDET engineers are high in
                      demand, as most organizations are moving towards an engineering culture. &nbsp;The software testing industry is under transformation and testers, automation engineers, and quality engineers have been transforming into
                      Certified SDET (Software Development Engineer in Test) roles by attending SDET Professional Course by Rajeshwari Tech to offer their best to the IT industry of Software Development.
                    </p>

                    <p>
                      The Certified SDET(Software Development Engineer in Test) Professional Course by Rajeshwari Tech is designed by the best of industry experts from the software development and automation testing industry to give you
                      in-depth knowledge of the software development and testing ecosystem tools.
                    </p>

                    <p>
                      The certified SDET Professional course by Rajeshwari tech is designed in such a way that you can become an SDET Professional in a short span of time. You will learn Core Java, Advanced Java (JSP, Servlet, and Servers),
                      Selenium Web Driver, BDD/ATDD, DevOps, CI/CD pipeline, Apache Maven, TestNG, JUnit, Git, Jenkins, REST APIs automation, Database automation testing and automation frameworks.
                    </p>

                    <div class="wp-block-qubely-wrapper qubely-block-59f42c">
                      <div class="qubely-block-wrapper-block">
                        <h3 class="has-text-align-center" id="1--key-features-">
                          <strong>
                            <strong><strong>Key Features of Certified SDET Professional Course</strong></strong>
                          </strong>
                        </h3>

                        <div class="is-layout-flex wp-container-3 wp-block-columns">
                          <div class="is-layout-flow wp-block-column">
                            <div class="wp-block-qubely-advancedlist qubely-block-5f78a9">
                              <div class="qubely-block-advanced-list qubely-alignment-left">
                                <ul class="qubely-list qubely-list-type-unordered qubely-list-bullet-check-square">
                                  <li>100 hours of blended practical oriented training cum workshop</li>
                                  <li>Certification Guidance</li>
                                  <li>Flexible Schedule</li>
                                  <li>Project Support</li>
                                  <li>Placement Assistance</li>
                                  <li>CV Building</li>
                                </ul>
                              </div>
                            </div>
                          </div>

                          <div class="is-layout-flow wp-block-column">
                            <div class="wp-block-qubely-advancedlist qubely-block-615b3d">
                              <div class="qubely-block-advanced-list qubely-alignment-left">
                                <ul class="qubely-list qubely-list-type-unordered qubely-list-bullet-check-square">
                                  <li>Each session followed by exercise and Project Work</li>
                                  <li>Industry-specific project implementation</li>
                                  <li>Doubt Clearing and Technical Support</li>
                                  <li>Job Posting</li>
                                  <li>Mock Interview and Tips</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div style="height: 36px;" aria-hidden="true" class="wp-block-spacer"></div>

                    <h3 class="has-text-align-center" id="2-trainings-for">Training for SDET Professional Course</h3>

                    <div class="wp-block-getwid-table has-border-collapse-separate">
                      <table>
                        <tbody>
                          <tr>
                            <td style="background-color: #0071a1; color: var(--nv-site-bg);">Individual Classroom Learning</td>
                            <td style="background-color: #0071a1; color: var(--nv-site-bg); border-left-color: var(--nv-light-bg); border-left-width: 3px;">Corporate Training Solutions</td>
                          </tr>
                          <tr>
                            <td style="border-right-color: #000;">Instructor-led Practical Oriented Training</td>
                            <td style="border-left-color: #000;">Face 2 Face Interactive Practical Oriented training</td>
                          </tr>
                          <tr>
                            <td>Flexible Schedule</td>
                            <td>Learn as per full day schedule with discussions and exercises</td>
                          </tr>
                          <tr>
                            <td>Recorded Sessions will be available within 24 hours</td>
                            <td>Doubt Clear sessions</td>
                          </tr>
                          <tr>
                            <td>Technical Support</td>
                            <td>Completely Customizable course content and schedule based on your need</td>
                          </tr>
                          <tr>
                            <td>Certification Guidance Provided</td>
                            <td>Certification Guidance Provided</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Case studies and Use cases implementations</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="wp-block-qubely-wrapper qubely-block-1000fc">
                      <div class="qubely-block-wrapper-block">
                        <h3 class="has-text-align-center" id="3-who-should-take-this-course">Who should take the Certified SDET Professional course?</h3>

                        <div class="ub_styled_list" id="ub_styled_list-a27cbe72-2142-4c3c-9256-54200f1bcc50">
                          <ul class="fa-ul">
                            <li>Automation engineers</li>
                            <li>Developers</li>
                            <li>Quality Engineers</li>
                            <li>Any individual who wants to be a Certified SDET Professional</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div style="height: 36px;" aria-hidden="true" class="wp-block-spacer"></div>

                    <div class="wp-block-qubely-wrapper qubely-block-05e28b">
                      <div class="qubely-block-wrapper-block">
                        <h3 class=" has-text-color" id="4-what-you%E2%80%99ll-learn-from-this-course">What you’ll learn from Certified SDET Professional course</h3>

                        <p class=" has-text-color">
                          Certified SDET (Software Development Engineer in Test) Professional course by Rajeshwari Tech is a comprehensive online course with duration of 100 hours where DevLab Alliance’s experienced trainers will teach you
                          about Core Java, Advance Java, Web Development – HTML, Spring Framework, JSP, Servlet, JDBC, Oracle/MySql, Junit/TestNG, Introduction to GIT, DevOps – Continuous Integration and Continuous Deployment using Jenkins,
                          API Testing, Cucumber, BDD/ATDD and Designing of Automation Framework.&nbsp; You will learn all these concepts with hands on experience in one of Live Project.
                        </p>
                      </div>
                    </div>
                    <div style="height: 36px;" aria-hidden="true" class="wp-block-spacer"></div>

                    <div class="wp-block-qubely-wrapper qubely-block-7d2c93">
                      <div class="qubely-block-wrapper-block">
                        <h3 id="6--certification-">
                          <strong>
                            <strong>
                              <strong><strong>Certified SDET Professional Course Certification</strong></strong>
                            </strong>
                          </strong>
                        </h3>

                        <p>SDET Professional Certified Professionals by Rajeshwari Tech work with global organizations like Accenture, Optum, Capgemini, Cognizant, TCS, Wipro, IBM, Sapient, Nucleus, Oracle, Expedia, etc.</p>

                        <p>
                          To unlock Rajeshwari Tech’s certification, you have to complete and submit the use case assignments provided during the course, then assignments submitted by you will be evaluated by Rajeshwari Tech’s team of
                          SDET experts and practitioners. Your result will be shared after assessment and certification will be awarded accordingly.
                        </p>
                      </div>
                    </div>

                    <div style="height: 52px;" aria-hidden="true" class="wp-block-spacer"></div>

                    <h3 class="has-text-align-center" id="why-you-should-take-this-course-from-devlabs-alliance"><strong>Why you should take this course from Rajeshwari Tech</strong></h3>

                    <div class="wp-block-getwid-table">
                      <table>
                        <tbody>
                          <tr>
                            <td style="background-color: #0071a1; color: var(--nv-site-bg); text-align: center;">Features</td>
                            <td style="background-color: #0071a1; color: var(--nv-site-bg); text-align: center;">Rajeshwari Tech</td>
                            <td style="background-color: #0071a1; color: var(--nv-site-bg); text-align: center;">Other Training Providers</td>
                          </tr>
                          <tr>
                            <td style="text-align: center;">Classroom Session</td>
                            <td style="text-align: center;">✔ Interactive Classes room session with Extensive hands-on</td>
                            <td style="text-align: center;">Instructor-led, no hands-on</td>
                          </tr>
                          <tr>
                            <td style="text-align: center;">1-1 Training</td>
                            <td style="text-align: center;">✔</td>
                            <td style="text-align: center;"><strong>✗</strong></td>
                          </tr>
                          <tr>
                            <td style="text-align: center;">Training Schedule</td>
                            <td style="text-align: center;">Flexible</td>
                            <td style="text-align: center;">Fixed</td>
                          </tr>
                          <tr>
                            <td style="text-align: center;">Customized Course</td>
                            <td style="text-align: center;">✔</td>
                            <td style="text-align: center;"><strong>✗</strong></td>
                          </tr>
                          <tr>
                            <td style="text-align: center;">Access to Recorded Videos</td>
                            <td style="text-align: center;">✔</td>
                            <td style="text-align: center;">✔</td>
                          </tr>
                          <tr>
                            <td style="text-align: center;">EMI Options</td>
                            <td style="text-align: center;">✔</td>
                            <td style="text-align: center;"><strong>✗</strong></td>
                          </tr>
                          <tr>
                            <td style="text-align: center;">Support Post Session</td>
                            <td style="text-align: center;">✔</td>
                            <td style="text-align: center;"><strong>✗</strong></td>
                          </tr>
                          <tr>
                            <td style="text-align: center;">Case Studies Discussion</td>
                            <td style="text-align: center;">✔</td>
                            <td style="text-align: center;"><strong>✗</strong></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                  <div class="wp-block-ub-tabbed-content-accordion-toggle ub-mobile-display">Course Details</div>
                  <div
                    role="tabpanel"
                    class="wp-block-ub-tabbed-content-tab-content-wrap ub-hide"
                    id="ub-tabbed-content-f6e5d105-d751-4818-982e-142001b3503f-panel-1"
                    aria-labelledby="ub-tabbed-content-f6e5d105-d751-4818-982e-142001b3503f-tab-1"
                    tabindex="0"
                  >
                    <div class="wp-block-ub-content-toggle" id="ub-content-toggle-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" data-mobilecollapse="false" data-desktopcollapse="true">
                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-0-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Overview of Automation Testing</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-0-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>What is Software Testing? Types of Software Testing?</strong></li>

                            <li><strong>Challenges in Manual testing</strong></li>

                            <li><strong>How does Automation Overcome challenges in Manual testing?</strong></li>

                            <li><strong>How do Automation tools work and what Tools for Automation Testing?</strong></li>

                            <li><strong>How important is Programming in Automation Testing?</strong></li>

                            <li><strong>What is Selenium? What are the components of Selenium?</strong></li>

                            <li><strong>What are the Advantages &amp; Disadvantages of Selenium WebDriver?</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-1-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Java Essentials and Environment Setup</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-1-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>Introduction to Java</strong></li>

                            <li><strong>Difference between JDK, JRE, and JVM</strong></li>

                            <li><strong>Downloading and Installing Java</strong></li>

                            <li><strong>Downloading and Installing Eclipse</strong></li>

                            <li><strong>What is IDE?</strong></li>

                            <li><strong>How to install IDE?</strong></li>

                            <li><strong>How to write a Basic Java program?</strong></li>

                            <li><strong>Understanding console output</strong></li>

                            <li><strong>Java Variables and Data Types</strong></li>

                            <li><strong>Java Operators</strong></li>

                            <li><strong>Conditional statements – if, if else, switch case</strong></li>

                            <li><strong>Loops – while, do while, for</strong></li>

                            <li><strong>Jumping statement – break and continue</strong></li>

                            <li><strong>Arrays</strong></li>

                            <li><strong>String Class</strong></li>

                            <li><strong>String methods</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-2-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Core Java Programming/OOPs Concepts</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-2-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>Classes and Objects</strong></li>

                            <li><strong>Arithmetic Operators &amp; Concatenation operators</strong></li>

                            <li><strong>Conditional &amp; Decision Making</strong></li>

                            <li><strong>Single Dimensional Array</strong></li>

                            <li><strong>Loops (For, While)</strong></li>

                            <li><strong>Java Constructors</strong></li>

                            <li><strong>Java methods</strong></li>

                            <li><strong>Passing parameters to the methods</strong></li>

                            <li><strong>Call by value and call by reference</strong></li>

                            <li><strong>Function Return Types</strong></li>

                            <li><strong>Exception Handling</strong></li>

                            <li><strong>Inheritance</strong></li>

                            <li><strong>Polymorphism</strong></li>

                            <li><strong>Encapsulation</strong></li>

                            <li><strong>Data Hiding</strong></li>

                            <li><strong>Method Overloading &amp; Constructor Overloading</strong></li>

                            <li><strong>Method Overriding</strong></li>

                            <li><strong>Abstract class</strong></li>

                            <li><strong>Interface</strong></li>

                            <li><strong>Java Packages</strong></li>

                            <li><strong>Access Modifiers</strong></li>

                            <li><strong>Data conversion functions</strong></li>

                            <li><strong>Reading Input from the keyboard</strong></li>

                            <li><strong>Super/This Keywords</strong></li>

                            <li><strong>Final/Finally/Finalize Keywords</strong></li>

                            <li><strong>Concept of Garbage Collector and System.gc</strong></li>

                            <li><strong>Wrapper Classes</strong></li>

                            <li><strong>String Manipulation</strong></li>

                            <li><strong>Collections Basics (Array List, HashMap, Set, Hashtable)</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-3-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Eclipse IDE</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-3-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>How to use Eclipse</strong></li>

                            <li><strong>How to run, stop, and pause the Program</strong></li>

                            <li><strong>Debugging in Eclipse</strong></li>

                            <li><strong>Understanding console output</strong></li>

                            <li><strong>Understanding break points and Watch Variables</strong></li>

                            <li><strong>Learn to find errors from Problem Windows and Console</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-4-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Selenium WebDriver Interface</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-4-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>The architecture of Selenium WebDriver</strong></li>

                            <li><strong>Understand WebDriver Interface</strong></li>

                            <li><strong>WebElement Interface</strong></li>

                            <li><strong>Launching Browsers e.g. Firefox/Chrome/Safari/Edge</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-5-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Browser &amp; Navigation Commands</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-5-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>How to launch a browser?</strong></li>

                            <li><strong>Create your first script using Webdriver</strong></li>

                            <li><strong>Navigate to URL</strong></li>

                            <li><strong>Verify Page title</strong></li>

                            <li><strong>get the Page Source&nbsp;</strong></li>

                            <li><strong>Difference between Close &amp; Quit</strong></li>

                            <li><strong>Navigate Back &amp; Forward</strong></li>

                            <li><strong>Refresh Page</strong></li>

                            <li><strong>Other ways of Navigating to a specific Page</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-6-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">WebElement Commands</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-6-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>Difference between FindElement &amp; FindElements</strong></li>

                            <li><strong>Enter &amp; Clear text from the Input field</strong></li>

                            <li><strong>Click Action and How to Click action work differently on different elements</strong></li>

                            <li><strong>Managing Input fields, Buttons &amp; Links</strong></li>

                            <li><strong>Finding all links on the Page</strong></li>

                            <li><strong>Select More than one object from a page&nbsp;</strong></li>

                            <li><strong>Selecting Objects from a specific area of a web page&nbsp;</strong></li>

                            <li><strong>Check if the element is Present, Displayed, Enabled, or Selected</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-7-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Locators in Selenium</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-7-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>What are Locators?</strong></li>

                            <li><strong>Introduction to HTML basics</strong></li>

                            <li><strong>HTML language tags and attributes&nbsp;</strong></li>

                            <li><strong>Identify ID, Name, Xpath, CSS from HTML Code</strong></li>

                            <li><strong>Difference between Absolute &amp; Complete Xpath</strong></li>

                            <li><strong>Finding your first element</strong></li>

                            <li><strong>WebElement Commands</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-8-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Element Identification</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-8-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>Element Inspector in Mozilla, Chrome, and Edge</strong></li>

                            <li><strong>Element locator tool for Firefox (Firebug)</strong></li>

                            <li><strong>Various HTML locator strategies</strong></li>

                            <li><strong>Developer Tools in Chrome to find Xpath</strong></li>

                            <li><strong>Selection of Effective XPath</strong></li>

                            <li><strong>Managing Dynamic objects/ids on the page</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-9-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Tables, Checkboxes &amp; Radio buttons</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-9-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>Find table rows and columns</strong></li>

                            <li><strong>Extracting values from a cell</strong></li>

                            <li><strong>Dynamically Identify Tables Data</strong></li>

                            <li><strong>Select class in Selenium</strong></li>

                            <li><strong>Drop Down Handle</strong></li>

                            <li><strong>Select multiple values from the list</strong></li>

                            <li><strong>Select &amp; Unselect operations by Index, Value &amp; Visible Text</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-10-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Selenium Waits, Alert &amp; Switch Windows</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-10-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>Implicit and Explicit Waits</strong></li>

                            <li><strong>Expected Conditions with Waits</strong></li>

                            <li><strong>Page Load Timeout &amp; Set Script Timeout property</strong></li>

                            <li><strong>Implement wait by Thread Sleep</strong></li>

                            <li><strong>Concept of Fluent Wait in Selenium&nbsp;</strong></li>

                            <li><strong>Strategy to poll for an object</strong></li>

                            <li><strong>WebDriverWait and its uses&nbsp;</strong></li>

                            <li><strong>Various WaitUntil Conditions&nbsp;</strong></li>

                            <li><strong>Handle Ajax-based components&nbsp;</strong></li>

                            <li><strong>Various Ways to handle Simple, Confirmation &amp; Prompt Alert</strong></li>

                            <li><strong>Difference between Window Handle &amp; Handles</strong></li>

                            <li><strong>Switching &amp; Closing Windows, Tabs &amp; PopUps</strong></li>

                            <li><strong>Concept of window ID&nbsp;</strong></li>

                            <li><strong>Extracting window IDs with a Selenium Object reference</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-11-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Actions Class</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-11-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>What is Action Class?</strong></li>

                            <li><strong>What can we do with Action Class?</strong></li>

                            <li><strong>Mouse Hover &amp; Mouse Movement with Action</strong></li>

                            <li><strong>Finding Coordinates of a Web Object</strong></li>

                            <li><strong>Drag and Drop Action</strong></li>

                            <li><strong>Click and SendKeys using Actions Class</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-12-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Advance UI Scenarios:</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-12-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>Manage Ajax components</strong></li>

                            <li><strong>Manage Complex Calendars</strong></li>

                            <li><strong>How to Scroll Web page</strong></li>

                            <li><strong>Handle WebTable with Paginations</strong></li>

                            <li><strong>Manage infinite Page Loading like infinite page scrolling on Twitter, Facebook, shopping web apps</strong></li>

                            <li><strong>Complex ShadowDOM, SVG Elements</strong></li>

                            <li><strong>Complex Frames/iFrames</strong></li>

                            <li><strong>Complex Psuedo Elements</strong></li>

                            <li><strong>Page Wait for use cases</strong></li>

                            <li><strong>Element Wait use cases</strong></li>

                            <li><strong>How to Capture Screenshots</strong></li>

                            <li><strong>How to work with Cookies</strong></li>

                            <li><strong>Headless Browser Testing</strong></li>

                            <li><strong>SSL Certificates Error Handling</strong></li>

                            <li><strong>Execute Javascript Based code for Selenium Webdriver</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-13-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">TestNG Framework</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-13-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>Introduction to TestNG</strong></li>

                            <li><strong>Benefits and Features of TestNG</strong></li>

                            <li><strong>Configure TestNG in Project</strong></li>

                            <li><strong>How to write TestNG Test case</strong></li>

                            <li><strong>Understanding testng.xml</strong></li>

                            <li><strong>TestNG Report</strong></li>

                            <li><strong>How to Prioritizing tests</strong></li>

                            <li><strong>Annotations in TestNG – @Test, @BeforeTest, @AfterTest, @BeforeSuite, @Parameters</strong></li>

                            <li><strong>dependsOnMethods</strong></li>

                            <li><strong>How to Skip tests</strong></li>

                            <li><strong>How to Group tests</strong></li>

                            <li><strong>Assertions</strong></li>

                            <li><strong>How to Parameterize tests</strong></li>

                            <li><strong>Parallel testing</strong></li>

                            <li><strong>Data Provider</strong></li>

                            <li><strong>Invocation Count</strong></li>

                            <li><strong>TestNG Listeners</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-14-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Extent Reports, Log4j2 &amp; Page Object Model</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-14-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>How To Generate Extent Reports</strong></li>

                            <li><strong>Log4j2 for logging</strong></li>

                            <li><strong>Page Object Model Pattern – Page Factory</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-15-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Maven integration with Selenium</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-15-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>What is Maven and what Features of Maven?</strong></li>

                            <li><strong>Installing/Configuring Maven</strong></li>

                            <li><strong>Creating Maven Project</strong></li>

                            <li><strong>Understanding POM.xml</strong></li>

                            <li><strong>How To Add Dependencies to pom.xml</strong></li>

                            <li><strong>How To Add plugins to pom.xml</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-16-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Automation Framework (End to end Project)</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-16-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>What is Automation Framework?</strong></li>

                            <li><strong>Why do we need an Automation Framework?</strong></li>

                            <li><strong>Types of Automation Frameworks</strong></li>

                            <li><strong>What is Data Driven Framework</strong></li>

                            <li><strong>What is Hybrid Framework</strong></li>

                            <li><strong>What is Page Object Model Design Pattern with Non-Page Factory (By Locators) with OOP concepts</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-17-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Hybrid Framework with POM – Live Project on E-Commerce Domain</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-17-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>Introduction and Component of Frameworks</strong></li>

                            <li><strong>Phases in Designing Framework</strong></li>

                            <li><strong>Step by Step Implementation of Hybrid Driven Framework</strong></li>

                            <li><strong>Creating Maven Project</strong></li>

                            <li><strong>Update pom.xml with dependencies</strong></li>

                            <li><strong>Creating page objects and Object repository</strong></li>

                            <li><strong>Creating utilities</strong></li>

                            <li><strong>Setting up configuration files</strong></li>

                            <li><strong>Creating automation test cases</strong></li>

                            <li><strong>Creating data-driven test cases</strong></li>

                            <li><strong>Creating database test cases</strong></li>

                            <li><strong>Generating extent reports</strong></li>

                            <li><strong>Generating logs using log4j2</strong></li>

                            <li><strong>Execute test scripts using TestNG XML File</strong></li>

                            <li><strong>Running tests with different Test Data</strong></li>

                            <li><strong>Generating the HTML reports : Extent Report,TestNG Report</strong></li>

                            <li><strong>Emailing test reports</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-18-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Cucumber BDD framework Basics</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-18-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>What is BDD(behavior Driven Development)?</strong></li>

                            <li><strong>What tools are required to implement BDD?</strong></li>

                            <li><strong>Introduction to Cucumber</strong></li>

                            <li><strong>How to download Cucumber?</strong></li>

                            <li><strong>Install Cucumber Eclipse Plugin</strong></li>

                            <li><strong>Configure Eclipse with Cucumber</strong></li>

                            <li><strong>What are Feature Files?</strong></li>

                            <li><strong>How to create Feature File?</strong></li>

                            <li><strong>How to execute Feature Files?</strong></li>

                            <li><strong>What is Gherkinization?</strong></li>

                            <li><strong>What is Step Definition?</strong></li>

                            <li><strong>How to generate Glu code/Step Definitions?</strong></li>

                            <li><strong>Data Driven Testing in Cucumber</strong></li>

                            <li><strong>What are Cucumber Tags?</strong></li>

                            <li><strong>Background in Cucumber</strong></li>

                            <li><strong>Data Tables in Cucumber</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-19-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">DevOps (Self-Paced)</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-19-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>Overview of DevOps</strong></li>

                            <li><strong>Relationship between Agile and DevOps</strong></li>

                            <li><strong>CI/CD Pipeline</strong></li>

                            <li><strong>DevOps Toolchain</strong></li>

                            <li><strong>Overview of DevOps tools</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-20-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">GIT</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-20-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>Overview of GIT</strong></li>

                            <li><strong>GIT Installation</strong></li>

                            <li><strong>Create GIT Account</strong></li>

                            <li><strong>GIT Lifecycle</strong></li>

                            <li><strong>GIT Integration with Eclipse</strong></li>

                            <li><strong>My First Code Check-in to GIT</strong></li>

                            <li><strong>GIT PULL Request Process (PR, Merge Request)</strong></li>

                            <li><strong>GIT CheckOut</strong></li>

                            <li><strong>GIT Branching (Local branching Concept)</strong></li>

                            <li><strong>GIT Clone</strong></li>

                            <li><strong>GIT Commit</strong></li>

                            <li><strong>GIT Push, Fetch &amp; Pull Commands</strong></li>

                            <li><strong>GIT Update</strong></li>

                            <li><strong>GIT Delete</strong></li>

                            <li><strong>GIT Stash</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-21-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Jenkins</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-21-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>What is Jenkins?</strong></li>

                            <li><strong>How to install Jenkins?</strong></li>

                            <li><strong>Create your first job in Jenkins</strong></li>

                            <li><strong>Create Pipeline using Jenkins</strong></li>

                            <li><strong>How do integrate Smoke, System, and Regression test in CI/CD pipeline?</strong></li>

                            <li><strong>Integrating your project with Jenkins</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-22-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Rest API</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-22-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>Introduction to API Testing</strong></li>

                            <li><strong>Why is API testing important?</strong></li>

                            <li><strong>What are Web Services?</strong></li>

                            <li><strong>Understanding the REST API architecture</strong></li>

                            <li><strong>Understanding the GET, POST, PUT, and DELETE requests</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-23-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Web Development (Self-Paced)</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-23-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>Basics of HTML</strong></li>

                            <li><strong>Tags</strong></li>

                            <li><strong>Elements</strong></li>

                            <li><strong>Attributes</strong></li>

                            <li><strong>Forms</strong></li>

                            <li><strong>Form Elements</strong></li>

                            <li><strong>Introduction to CSS &amp; JavaScript</strong></li>

                            <li><strong>JSP</strong></li>

                            <li><strong>Servlet</strong></li>

                            <li><strong>JDBC</strong></li>

                            <li><strong>Web Servers</strong></li>

                            <li><strong>Basic design Patterns</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-24-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Spring Framework (Self-Paced)</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-24-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>Introduction to Java Frameworks</strong></li>

                            <li><strong>Most Popular Java Frameworks</strong></li>

                            <li><strong>What is Spring Framework?</strong></li>

                            <li><strong>Why use Spring?</strong></li>

                            <li><strong>Advantages of Spring Framework</strong></li>

                            <li><strong>How does Spring works?</strong></li>

                            <li><strong>Dependency Injection</strong></li>

                            <li><strong>Aspect Oriented Programming – AOP</strong></li>

                            <li><strong>Spring Architecture</strong></li>

                            <li><strong>Spring Modules</strong></li>
                          </ul>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-25-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">Database (Self-Paced)</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-25-bdd2b601-8ea6-4a2d-9f3d-7f848b4f640e">
                          <ul>
                            <li><strong>Introduction to MySQL</strong></li>

                            <li><strong>Installation</strong></li>

                            <li><strong>Create Database</strong></li>

                            <li><strong>Drop Database</strong></li>

                            <li><strong>Select Database</strong></li>

                            <li><strong>Create Table</strong></li>

                            <li><strong>Insert Query</strong></li>

                            <li><strong>Select Query</strong></li>

                            <li><strong>Delete Query</strong></li>

                            <li><strong>Joins and more queries</strong></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wp-block-ub-tabbed-content-accordion-toggle ub-mobile-display">FAQ</div>
                  <div
                    role="tabpanel"
                    class="wp-block-ub-tabbed-content-tab-content-wrap ub-hide"
                    id="ub-tabbed-content-f6e5d105-d751-4818-982e-142001b3503f-panel-2"
                    aria-labelledby="ub-tabbed-content-f6e5d105-d751-4818-982e-142001b3503f-tab-2"
                    tabindex="0"
                  >
                    <p></p>

                    <div class="wp-block-ub-content-toggle" id="ub-content-toggle-776ac767-c76d-47a0-b53f-0fff8649da21" data-mobilecollapse="false" data-desktopcollapse="true">

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-1-776ac767-c76d-47a0-b53f-0fff8649da21" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-776ac767-c76d-47a0-b53f-0fff8649da21">
                            Shall I get any certificate after completion of the Certified SDET(Software Development Engineering in Test) Professional Course?
                          </p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-1-776ac767-c76d-47a0-b53f-0fff8649da21">
                          <p>Yes, once your assessment process is complete then the certificate will be awarded to you</p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-2-776ac767-c76d-47a0-b53f-0fff8649da21" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-776ac767-c76d-47a0-b53f-0fff8649da21">What is the full form of SDET?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-2-776ac767-c76d-47a0-b53f-0fff8649da21">
                          <p>SDET stands for Software Development Engineer in Test.</p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-3-776ac767-c76d-47a0-b53f-0fff8649da21" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-776ac767-c76d-47a0-b53f-0fff8649da21">What is the difference between SDET and a Tester?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-3-776ac767-c76d-47a0-b53f-0fff8649da21">
                          <p>
                            SDET is highly skilled resource with development as well as testing skills, on the other hand tester is involved in preparing and executing the test cases either manually or by automation. Moreover Testers are
                            resources with limited programming skills and they are much focused on functional testing (black box testing) whereas SDETs are skilled resources with good programming skills and do the job of tester (white box
                            testing) as well as developer in test automation. SDET can participate in test automation tool development and may make it for generic use. Testers are not expected to develop test automation tools, they may use
                            these test automation tool to perform the testing required for their software application or project.
                          </p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-4-776ac767-c76d-47a0-b53f-0fff8649da21" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-776ac767-c76d-47a0-b53f-0fff8649da21">What is the difference between SDET and an automation engineer?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-4-776ac767-c76d-47a0-b53f-0fff8649da21">
                          <p>
                            SDET tests and critiques software components and interfaces in more technical depth, writes test programs to assure quality, and develops test tools to increase effectiveness whereas an Automation Engineer
                            normally uses tools for doing functional testing which do not require any technical knowledge.
                          </p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-5-776ac767-c76d-47a0-b53f-0fff8649da21" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-776ac767-c76d-47a0-b53f-0fff8649da21">How to become SDET engineer?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-5-776ac767-c76d-47a0-b53f-0fff8649da21">
                          <p>
                            To become a successful SDET, one should be involved in both the development of application as well as in testing of the software developed. SDET plays an important role in both the Software Development Life Cycle
                            as well as Test Life Cycle. SDET engineer plans, designs, develops, optimizes as well as test the code using automation. SDET can think about the probabilities the application code can fail and design his test
                            framework accordingly to ensure robustness of the product. SDET needs to understand the complete flow of the code about how it interacts with all other components and can write his own code for creating
                            speciality test tools for automation. To become a successful SDET, one should possess excellent debugging skills in order to find out the reasons behind the failure of test cases, inefficient code, memory
                            leakages etc., in order to improve the quality of the code. SDET should be able to create a report of all his testing activities which will help in tracking all the task.
                          </p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-6-776ac767-c76d-47a0-b53f-0fff8649da21" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-776ac767-c76d-47a0-b53f-0fff8649da21">What are the Roles and Responsibilities of SDET?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-6-776ac767-c76d-47a0-b53f-0fff8649da21">
                          <p>
                            SDET is a mix of developer as well as tester who has exposure to project management, interacts and understands end user software requirements, knows product or domain knowledge, participates in product or
                            software designing, knows how to code and build test automation tools. Roles and Responsibilities of SDET includes the following:- Participating in Design and Architectural discussion &#8211; Capability of
                            building, deploying and managing own environment and test automation framework &#8211; Developing automation code for the application and maintaining the same &#8211; Ensuring maximum unit test code coverage
                            &#8211; Able to build different test scenarios and acceptance tests &#8211; Write the automation code for himself and should have excellent debugging skills
                          </p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-7-776ac767-c76d-47a0-b53f-0fff8649da21" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-776ac767-c76d-47a0-b53f-0fff8649da21">Why SDET?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-7-776ac767-c76d-47a0-b53f-0fff8649da21">
                          <p>
                            In prior days, the software engineer used to write the code and the tester was compelled to test it for quality. Today companies are searching for an expert who can partake in software development. We are just
                            shifting from a pure manual testing to a more technical reality of testing a product. SDET is a software tester with expertise on writing code. SDET isn’t only a test professional with advanced level programming
                            skills, yet a professional who can create testing frameworks and tools to help the manual testing process. So the companies are hiring SDET who can work for designing the testing system or high-performance code.
                            SDETs, with their dual capacities in the domain of performing tests and also the code development are an incredible fit in today’s’ advanced age. They help to enhance the Code Quality by performing strict and
                            complete source code inspections alongside checking for the Testability of the code.
                          </p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-8-776ac767-c76d-47a0-b53f-0fff8649da21" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-776ac767-c76d-47a0-b53f-0fff8649da21">What are future prospects of SDET?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-8-776ac767-c76d-47a0-b53f-0fff8649da21">
                          <p>
                            The industry today has awakened to the fact that testing is actually more important than programming. Testing apps requires a bigger budget for tools and resources compared to programming. Every organization
                            today is hunting for the best possible talent. Earlier software developers used to write code and testers checked it for quality. This won’t suffice today. Software Development Engineer in Test (SDETs) are
                            skilled professionals who are adept in the arena of both QA Engineering and Software Development.
                          </p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-13-776ac767-c76d-47a0-b53f-0fff8649da21" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-776ac767-c76d-47a0-b53f-0fff8649da21">What is the training mode?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-13-776ac767-c76d-47a0-b53f-0fff8649da21">
                          <p>Both. Online/Offline</p>
                        </div>
                      </div>

                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-13-776ac767-c76d-47a0-b53f-0fff8649da22" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-776ac767-c76d-47a0-b53f-0fff8649da22">Do i get industry based project?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-13-776ac767-c76d-47a0-b53f-0fff8649da22">
                          <p>Yes our all module and assignments are based on industry levels.</p>
                        </div>
                      </div>
                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-13-776ac767-c76d-47a0-b53f-0fff8649da23" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-776ac767-c76d-47a0-b53f-0fff8649da23">Do i get mock interviews after preparation?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-13-776ac767-c76d-47a0-b53f-0fff8649da23">
                          <p>Yes you will get with industry experts</p>
                        </div>
                      </div>
                      <div class="wp-block-ub-content-toggle-accordion">
                        <div class="wp-block-ub-content-toggle-accordion-title-wrap" aria-expanded="false" aria-controls="ub-content-toggle-panel-13-776ac767-c76d-47a0-b53f-0fff8649da24" tabindex="0">
                          <p class="wp-block-ub-content-toggle-accordion-title ub-content-toggle-title-776ac767-c76d-47a0-b53f-0fff8649da24">Can i ask questions individually/personally to tutor?</p>
                          <div class="wp-block-ub-content-toggle-accordion-toggle-wrap right"><span class="wp-block-ub-content-toggle-accordion-state-indicator wp-block-ub-chevron-down"></span></div>
                        </div>
                        <div role="region" class="wp-block-ub-content-toggle-accordion-content-wrap ub-hide" id="ub-content-toggle-panel-13-776ac767-c76d-47a0-b53f-0fff8649da24">
                          <p>Yes you can schedule a call or mail your queries to tutor</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<style type="text/css">
  .entry-content .is-layout-flex{
    display: block !important;
  }
</style>

<%= render 'home/courses_css_js' %>