<footer class="site-footer" id="site-footer">
  <div class="hfg_footer">
    <div class="footer--row footer-top layout-full-contained" id="cb-row--footer-top" data-row-id="top" data-show-on="desktop">
      <div class="footer--row-inner footer-top-inner footer-content-wrap">
        <div class="container">
          <div class="hfg-grid nv-footer-content hfg-grid-top row--wrapper row " data-section="hfg_footer_layout_top" >
            <div class="builder-item hfg-item-last hfg-item-first col-12 desktop-left tablet-left mobile-left hfg-item-v-middle">
              <div class="item--inner builder-item--footer-one-widgets" data-section="sidebar-widgets-footer-one-widgets" data-item-id="footer-one-widgets">
                <div class="widget-area">
                  <div id="block-3" class="widget widget_block">
                    <div style="height:36px" aria-hidden="true" class="wp-block-spacer"></div>
                  </div>
                  <div id="block-2" class="widget widget_block">
                    <div class="is-layout-flex wp-container-52 wp-block-columns" style="font-size:16px">
                      <div class="is-layout-flow wp-block-column">
                        <h3 id="trending-courses">Trending Courses</h3>
                        <ul>
                          <li><a href="courses/certified-sdet-professional/index.html">Certified SDET Professional</a></li>
                          <li><a href="courses/sdet-advanced/index.html">Certified SDET Advanced</a></li>
                          <li><a href="courses/certified-sdet-professional-in-python/index.html">Certified SDET Professional – Python</a></li>
                          <li><a href="courses/certified-sdet-masters-in-python/index.html">Certified SDET Masters – Python</a></li>
                          <li><a href="courses/devops-professional-certification-course/index.html">Certified DevOps Professional</a></li>
                          <li><a href="courses/docker-with-kubernetes-certification-course/index.html">Docker with Kubernetes Certification Course</a></li>
                          <li><a href="courses/certified-kubernetes-administrator/index.html">Certified Kubernetes Administrator (CKA)</a></li>
                          <li><a href="courses/robotic-process-automation-with-cognitive-automation/index.html">Robotics Process Automation with Cognitive Automation</a></li>
                          <li><a href="courses/az-400-azure-devops-solutions/index.html">AZ-400: Microsoft Azure DevOps Solutions</a></li>
                          <li><a href="courses/big-data-hadoop-certification-course/index.html">Big Data Hadoop Certification Course</a></li>
                        </ul>
                      </div>
                      <div class="is-layout-flow wp-block-column">
                        <h3 id="consultation">Consultation</h3>
                        <ul>
                          <li><a href="salesforce/index.html">Salesforce</a></li>
                          <li><a href="test-automation-continuous-delivery/index.html">Test Automation</a></li>
                          <li><a href="devops-continuous-delivery/index.html">DevOps and CI/CD</a></li>
                          <li><a href="software-development/index.html">Software Development</a></li>
                          <li><a href="on-site-corporate-training/index.html">Corporate Training</a></li>
                        </ul>
                        <p></p>
                        <h3 id="consultation">Certified Partners</h3>
                        <figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="211" height="58" src="wp-content/uploads/2022/02/nasscom-devlabs-alliance.jpg" alt="Nasscom Devlabs Alliance" class="wp-image-4736"/></figure>
                      </div>
                      <div class="is-layout-flow wp-block-column">
                        <figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="257" height="47" src="<%= asset_path('logo.png')%>" alt="" class="wp-image-528"/></figure>
                        <ul>
                          <li><a href="about/index.html#my-mission">Our Mission</a></li>
                          <li><a href="about/index.html#alliance-partners">Our Alliance Partners</a></li>
                          <li><a href="about/index.html">DevLabs Alliance</a></li>
                          <li><a href="contact-us/index.html">Contact Us</a></li>
                          <li><a href="join-us-as-a-trainer/index.html">Join as a Trainer</a></li>
                          <li><a href="validate/index.html">Validate Certificate</a></li>
                          <li><a href="refund-reschedule-policy/index.html">Refund &amp; Reschedule Policy</a></li>
                          <li><a href="terms-of-use-and-privacy-policy/index.html">Terms of use and Privacy Policy</a></li>
                          <li><a href="career/index.html">Career</a></li>
                        </ul>
                        <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                        <p>
                          <ul id="" class="cnss-social-icon " style="text-align:left;">
                            <li class="cn-fa-facebook cn-fa-icon " style="display:inline-block;"><a class="cnss-facebook-square" target="_blank" href="https://www.facebook.com/Dev-labs-alliance-529971950733455/" title="Facebook" style="width:30px;height:30px;padding:5px 0;margin:2px;color: #ffffff;border-radius: 0%;"><i title="Facebook" style="font-size:20px;" class="fa fa-facebook-square"></i></a></li>
                            <li class="cn-fa-twitter cn-fa-icon " style="display:inline-block;"><a class="cnss-twitter-square" target="_blank" href="https://twitter.com/devlabsalliance" title="Twitter" style="width:30px;height:30px;padding:5px 0;margin:2px;color: #ffffff;border-radius: 0%;"><i title="Twitter" style="font-size:20px;" class="fa fa-twitter-square"></i></a></li>
                            <li class="cn-fa-linkedin cn-fa-icon " style="display:inline-block;"><a class="cnss-linkedin" target="_blank" href="https://www.linkedin.com/company/devlabsalliance/" title="LinkedIn" style="width:30px;height:30px;padding:5px 0;margin:2px;color: #ffffff;border-radius: 0%;"><i title="LinkedIn" style="font-size:20px;" class="fa fa-linkedin"></i></a></li>
                            <li class="cn-fa-youtube cn-fa-icon " style="display:inline-block;"><a class="cnss-youtube-square" target="_blank" href="https://www.youtube.com/channel/UC8nOZvcKnVKRPG4yPXLXYZQ/videos" title="YouTube" style="width:30px;height:30px;padding:5px 0;margin:2px;color: #ffffff;border-radius: 0%;"><i title="YouTube" style="font-size:20px;" class="fa fa-youtube-square"></i></a></li>
                          </ul>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div id="block-4" class="widget widget_block">
                    <hr class="wp-block-separator has-text-color has-css-opacity has-background is-style-wide" style="background-color:#000000;color:#000000"/>
                  </div>
                  <div id="block-5" class="widget widget_block widget_text">
                    <p style="font-size:14px"><a href="course/automation/index.html">Software Automation Testing</a> | <a href="course/data-science-and-python/index.html"> AWS Cloud</a> | <a href="course/azure/index.html">Azure Cloud</a> | <a href="course/big-data/index.html">Big Data</a> | <a href="course/citrix/index.html">Citrix</a> | <a href="course/devops/index.html">DevOps</a> | <a href="course/java/index.html">Java</a> | <a href="course/microsoft/index.html">Microsoft</a> | <a href="course/performance-testing/index.html">Performance Testing</a> | <a href="course/data-science-and-python/index.html">Python with Data Science</a> | <a href="course/robotics-process-automation/index.html">Robotics Process Automation</a> | <a href="course/sdet/index.html">SDET</a> | <a href="course/vmware/index.html">VMware</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer--row footer-bottom layout-full-contained" id="cb-row--footer-bottom" data-row-id="bottom" data-show-on="desktop">
      <div class="footer--row-inner footer-bottom-inner footer-content-wrap">
        <div class="container">
          <div class="hfg-grid nv-footer-content hfg-grid-bottom row--wrapper row " data-section="hfg_footer_layout_bottom" >
            <div class="builder-item hfg-item-last hfg-item-first col-12 desktop-center tablet-center mobile-center hfg-item-v-middle">
              <div class="item--inner builder-item--footer_copyright" data-section="footer_copyright" data-item-id="footer_copyright">
                <div class="component-wrap">
                    <p style="font-size:14px">Copyright © <%= Date.today.year %> Rajeshwari Tech. All rights Reserved</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </footer>